<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
        data-parallax-image="{{ theme:img src='business-bootcamp-1.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Bedrijfsfitness in Hardenberg</strong></h1>
            <h4 class="subtitle-2">Take care of health in your business</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Zet je bedrijf in beweging een uitdaging voor iedereen!</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>- Professionele begeleiding</h5>
                            </li>
                            <li>
                                <h5>- Full body workout op locatie</h5>
                            </li>
                            <li>
                                <h5>- Iedereen kan meedoen ongeacht niveau</h5>
                            </li>
                            <li>
                                <h5>- Werk aan teambuilding binnen het bedrijf</h5>
                            </li>
                            <li>
                                <h5>- Snel trainingsresultaat</h5>
                            </li>
                            <li>
                                <h5>- Fittere werknemers</h5>
                            </li>
                            <li>
                                <h5>- Kans op burn-out klachten neemt sterk af</h5>
                            </li>
                        </ul>
                    </div>

                    <div class="column one-half last-col nopadding"
                        style="background:url({{ theme:img src='business-bootcamp-3.jpg' }}) 30% 20% no-repeat; background-size:cover">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Business bootcamp is een uitdaging voor iedereen. De taak van de trainer is om de oefeningen
                        zodanig aan te passen, dat
                        iedereen mee kan doen op zijn/haar eigen niveau.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Sporten onder professionele begeleiding van een gecertificeerde trainer. Op deze manier houden we
                        de kwaliteit van de
                        training hoog en wordt de veiligheid gewaarborgd.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Tijdens elke business bootcamp staat de fitheid van het personeel centraal. Wij voeren regelmatig
                        een fitheidstest uit
                        om de fitheid per deelnemer bij te houden.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>De trainingen worden gegeven op een locatie naar keuze.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding"
                style="background:url({{ theme:img src='business-bootcamp-2.jpg' }}) center center no-repeat;">
            </div>
            <div class="column one-half last-col" style="background:none;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick">
                <p>- Bedrijven waar het personeel veel zittend werk doet<br>
                    - Bedrijven die nog weinig met vitaliteit doen<br>
                    - Bedrijven die kennis willen maken met sporten<br>
                    - Bedrijven die actief willen zijn met collega’s<br>
                    - Bedrijven met veel ziekteverzuim
                </p>
                <p><strong>Ga voor een Active & Fit bedrijf!</strong></p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Inhoud business bootcamp</strong></h4>
                <hr class="small thick">
                <p>- Trainen in de buitenlucht<br>
                    - Train met je eigen lichaamsgewicht<br>
                    - Het regelmatig uitvoeren van fitheidstesten<br>
                    - Workouts met verschillende materialen: kettlebells, resistance bands, powerbags, een TRX enz..<br>
                    - Hardlopen, intervaltraining, circuittraining en fitnessoefeningen<br>
                    - Uitdagende, grensverleggende workout op niveau van de deelnemers<br>
                    - Een trainer die motiveert om net dat stapje extra te doen<br>
                    - Duur van een training: ongeveer 60 minuten</p>
                <p><strong>Samen sterker, gezonder en fitter!</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='business-bootcamp-4.jpg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='business-bootcamp-5.jpg' }}) 50% 40%;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick">
                <p>- Onderlinge samenwerking wordt geoptimaliseerd<br>
                    - Bied werknemers elke week een sportief moment ter ontspanning<br>
                    - Krijg fitter en energieker personeel voor optimaal resultaat op de werkvloer<br>
                    - Voorkom onnodig ziekteverzuim<br>
                    - Denk aan de toekomst: creëer een vitale werkomgeving voor iedereen</p>
                <p><strong>1 team 1 taak!</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper align-center">

            <h3><strong>Nieuwsgierig of business bootcamp iets voor jouw bedrijf is?</strong></h3>
            <h5 class="subtitle-1">Maak snel een afspraak om de mogelijkheden te bespreken.</h5>
            <div class="spacer-small"></div>
            <a href="/contact" class="sr-button button-1 button-big">Naar contactformulier</a>
            <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            <div class="spacer-big"></div>

        </div> <!-- END .wrapper -->

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-medium"></div>

    </section>
</div>

{{ partial:footer }}