<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
        data-parallax-image="{{ theme:img src='bootcamp-light-hero.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>{{ title }}</strong></h1>
            <h4 class="subtitle-2">Back to the basics</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Kom in beweging en verbeter je basis conditie!
                </h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Leer hoe je oefeningen technisch goed uitvoert</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Voorkom blessures</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Bouw meer conditie en kracht op</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Voel je fysiek en mentaal sterk</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Professionele begeleiding</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Full body workout in de natuur</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Trainen op je eigen niveau</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Kleine groepen van max 12 deelnemers</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Gemakkelijk zelf trainingen inplannen via onze app</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col"
                        style="background:url( {{ theme:img src='bootcamp-light-2.jpeg' }} ) center 20% no-repeat;background-size: cover;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center has-animation">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Bootcamp light is speciaal voor mensen die op hun eigen tempo, onder professionele begeleiding hun conditie en kracht weer op willen bouwen. We gaan rustig van start en leggen alle oefeningen stap voor stap goed uit. </p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Om op een verantwoorde manier te trainen heb je grondmotorische eigenschappen nodig. Dit zijn stabiliteit, kracht, lenigheid, snelheid en uithoudingsvermogen. Wanneer deze eigenschappen in balans zijn, voorkom je blessures. Om de kwaliteit te waarborgen, worden de lessen gegeven door een fysiotherapeut i.o.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>We sporten in kleine groepen van maximaal 12 deelnemers, op deze manier krijgt iedereen de persoonlijke aandacht die hij/zij verdient.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>Er wordt altijd buiten op een uitdagende locatie getraind: het park, de stad of in het bos.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding"
                style="background:url({{ theme:img src='bootcamp-light-wie.jpeg' }} ) center center no-repeat; background-size: cover;">
            </div>
            <div class="column one-half" style="background:none; border: 2px solid #e50378;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick colored">
                <p>- Je hebt al een tijdje niet meer gesport en wil graag weer starten<br>
                    - Je bent nog niet bekend met fitness oefeningen<br>
                    - Je bent geblesseerd geweest en wil op een rustig tempo het sporten opbouwen<br>
                    - Je bent zwanger geweest en wil weer rustig beginnen met sporten<br>
                    - Je hebt Corona gehad en je conditie is niet wat het geweest is<br>
                    - Je wilt graag wat techniek aanleren op gebied van fitness oefeningen<br>                  
                    <p><strong>Ontdek de voordelen van regelmatig sporten!</strong></p>
                </p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent; border: 2px solid #7fdbca;">
                <h4 class="uppercase"><strong>Inhoud bootcamp Light</strong></h4>
                <hr class="small thick colored">
                <p>- Afwisselende en effectieve trainingen gericht op fit worden<br>
                    - Train je uithoudingsvermogen, kracht, stabiliteit, lenigheid en snelheid<br>
                    - Een lekkere workout in de natuur, die je meer energie geeft<br>
                    - Aanleren technisch goede uitvoering van oefeningen<br>
                    - Sporten op je eigen tempo<br>
                    - Een enthousiaste trainer die je motiveert om door te gaan<br>
                    - Train met je eigen lichaamsgewicht<br>
                    - Functionele oefeningen die van pas komen in het dagelijks leven<br>
                    - Een training duurt ongeveer 60 minuten<br>
                    </p>
                <p><strong>Word de fitste versie van jezelf!</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='nieuwe-bootcamp-light.jpeg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='bootcamp-light-waarom.jpeg' }}) center 10%;background-size:cover; padding: 150px 0;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent; border: 2px solid #f5a802;">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick colored">
                <p>- Werk aan je algehele gezondheid<br>
                    - Bouw een goede basis conditie op<br>
                    - Creëer een moment voor jezelf<br>
                    - Voel je fit en zit lekker in je vel<br>
                    - Bereik een hoger energieniveau<br>
                    - Oefeningen worden aangepast op jouw niveau<br>
                    - Een voldaan en ontspannen gevoel na de training<br>
                    - Trainen in een groep werkt motiverend<br>
                    - Plezier en sporten in één<br>
                    </p>
                <p><strong>Ga voor een goede balans tussen lichaam en geest!</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper">

            <h4 class="align-center"><strong>Kosten</strong></h4>
            <div class="spacer-medium"></div>

            <div class="column-section bordered-sticky clearfix accent-pricing">
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Gratis proefles</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">GRATIS</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1"
                            class="sr-button button-small button-1 rounded">Aanmelden</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">1x deelname</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€10,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table accent-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">10x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€75,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-2 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">20x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€140,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth last-col pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Onbeperkt abonnement</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€55,- per maand</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/subscription/?tabSelected=2" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->

        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
        class="sr-button button-full button-2">Gratis proefles?<br><strong>Klik hier! <i
                class="ion ion-arrow-right-c"></i></strong></a>
    </section>
</div>

{{ partial:footer }}