<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
        data-parallax-image="{{ theme:img src='boxing-bootcamp-1.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Boxing bootcamp in Hardenberg</strong></h1>
            <h4 class="subtitle-2">Burn baby burn</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Word op een leuke en uitdagende manier snel fit!</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Professionele begeleiding</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Kleine groepen maximaal 14 personen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Werk aan een goede conditie en meer kracht</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Leer de basistechnieken van boksen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Iedereen kan meedoen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Plezier en sporten in één</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Boksen zonder persoonlijk contact</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col"
                        style="background:url({{ theme:img src='boxing-bootcamp-3.jpg' }}) center center no-repeat;background-size: contain;">

                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Je kunt bij ons boksen op je eigen niveau. Zet je lichaam flink aan het werk door intensieve
                        trainingen met veel
                        variatie. Bij boksen train je lichaam en geest, met name uithoudingsvermogen, kracht, snelheid,
                        lenigheid en mentale
                        weerbaarheid.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Je traint bij ons met behulp van pads en trapkussens waarbij we lichamelijk contact vermijden.
                        Sparren wordt bij ons
                        niet gedaan in verband met jouw veiligheid. De trainingen worden gegeven door professionele
                        trainers.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Bij ons kun je kiezen tussen trainen in kleine groepen van max. 12 deelnemers of 1 op 1
                        bokstraining. Op deze manier is
                        er voldoende overzicht om de kwaliteit van de training hoog te houden. Jij krijgt bij ons de
                        persoonlijke aandacht die
                        je verdient.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>Er wordt buiten op een uitdagende locatie getraind: in het zand, het park, de stad of in het bos.
                        Het is ook mogelijk om binnen te trainen.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding"
                style="background:url({{ theme:img src='boxing-bootcamp-2.jpg' }}) center center no-repeat; background-size: cover;">
            </div>
            <div class="column one-half" style="background:none;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small tick">
                <p>- Je houdt van uitdagende trainingen met hoge intensiteit<br>
                    - Je hebt een druk leven en wilt stoom afblazen tijdens een intensieve workout<br>
                    - Je traint zelf regelmatig, maar wil graag meer uit je training halen<br>
                    - Je doel is afvallen, maar tot nu toe is dit nog niet goed genoeg gelukt<br>
                    - Je wilt graag sporten onder begeleiding voor of na je werk<br>
                    - Je droomt van een strakker lichaam, maar je weet niet hoe je dit moet bereiken<br>
                    - Je wilt je grenzen verleggen en bent op zoek naar meer uitdaging tijdens het sporten
                </p>
                <p><strong>Ontdek wat boksen met jouw lichaam doet!</strong></p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Inhoud boxing bootcamp</strong></h4>
                <hr class="small thick">
                <p>- Een training voor je hele lichaam<br>
                    - Veel variatie, elke training is anders<br>
                    - Leer de basistechnieken van het boksen<br>
                    - Train buiten of binnen, de keus is aan jou<br>
                    - Intensieve workout, train kracht en uithoudingsvermogen<br>
                    - Sporten in kleine groepen van max 12 deelnemers<br>
                    - Uitdagende, grensverleggende workout op jouw niveau<br>
                    - Een training duurt ongeveer 60 minuten</p>
                <p><strong>Ga voor een intensieve workout, doe mee!</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='boxing-bootcamp-4.jpg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='boxing-bootcamp-5.jpg' }}) center center;background-size:cover;">
            </div>
            <div class="column one-half last-col bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick">
                <p>- Train lichaam en geest voor een goede balans<br>
                    - Persoonlijke begeleiding<br>
                    - Verlies snel gewicht<br>
                    - De trainer motiveert je om net dat stapje extra te doen<br>
                    - Bereik een hoger energieniveau<br>
                    - Train verantwoord op de juiste manier<br>
                    - Krijg een veelzijdig getraind lichaam<br>
                    - Trainen in een groep werkt motiverend<br>
                    - Voel je energiek en fit</p>
                <p><strong>Verbrand tot 1000 kcal per training</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper">

            <h4 class="align-center"><strong>Kosten</strong></h4>
            <div class="spacer-medium"></div>

            <div class="column-section bordered-sticky clearfix accent-pricing">
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Gratis proefles</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">GRATIS</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1"
                            class="sr-button button-small button-1 rounded">Aanmelden</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">1x deelname bootcamp</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€10,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories="
                            class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table accent-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">10x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€67,50</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories="
                            class="sr-button button-small button-2 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fourth last-col pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">20x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€130,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories="
                            class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <div class="wrapper align-center">

            <h2><strong>Personal boxing</strong></h2>
            <h5 class="subtitle-1">- Gratis intakegesprek<br>
                - Wij bieden diverse strippenkaarten aan voor personal boxing<br>
                - Liever samen trainen? Wij bieden ook 1 op 2 trainingen. Stuur ons een mailtje voor meer info!</h5>

            <div class="spacer-small"></div>

            <h3><strong>Welk doel wil jij bereiken?</strong></h3>
            <h5 class="subtitle-1">Maak snel een afspraak om te kijken wat we voor elkaar kunnen betekenen.</h5>

            <p><a href="tel:+31611415741" class="sr-button button-2 button-small">Bel ons: 0611415741</a></p>

            <div class="spacer-big"></div>

        </div> <!-- END .wrapper -->

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-medium"></div>

    </section>
</div>

{{ partial:footer }}