<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-big  parallax-section text-light" data-parallax-image="{{ theme:img src='tarieven.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Groepslessen</strong></h1>
        </div> <!-- END #page-title -->

    </section>
    <!-- HERO -->

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding text-light" style="background: #6a3cd6">
                <h4 class="uppercase"><strong>Bootcamp</strong></h4>
                <hr class="small thick">
                <p>Wil je lekker fanatiek buiten sporten en even een moment voor jezelf creëren? Doe mee met onze bootcamp en kijk wat bootcamp met jouw lichaam doet!
                    We bieden je afwisselende en uitdagende full body workouts in de natuur. Train met je eigen lichaamsgewicht en met verschillende fitness materialen.
                    </p>
                <p><a href="/bootcamp" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
            <div class="column one-half last-col"
                style="background:url( {{ theme:img src='bootcamp-kleur.jpeg' }} ) center 10%;background-size:cover;">

            </div>
        </div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url( {{ theme:img src='bootcamp-light-2.jpeg' }} ) center 30%;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding text-light" style="background: #008278">
                <h4 class="uppercase"><strong>Bootcamp Light</strong></h4>
                <hr class="small thick">
                <p>Wil jij weer starten met sporten? Doe mee op je eigen tempo en leer hoe je een oefening technisch goed uitvoert. De Bootcamp Light is speciaal voor mensen die graag op een verantwoorde manier hun basis conditie op willen bouwen. De focus tijdens een training ligt op kwaliteit, afwisseling en persoonlijke aandacht. Het doel van deze les is een goede basis opbouwen om door te stromen naar één van onze andere groepslessen.
                </p>
                <p><a href="/bootcamp-light" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
        </div>
        
        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col bigpadding text-light" style="background: #d00be0">
                <h4 class="uppercase"><strong>Zwanger & Fit</strong></h4>
                <hr class="small thick">
                <p>Zwanger & Fit, wil jij verantwoord sporten tijdens je zwangerschap? Dan is zwanger & fit een goede keus voor jou!
                    Tijdens deze trainingen sport je onder professionele begeleiding van een zwanger & fit trainer/personal trainer/fysiotherapeut. Je traint in kleine groepen van max 12 personen. 
                    Het is mogelijk om informatie en advies op maat te krijgen van een bekkenfysiotherapeut of kinderfysiotherapeut                    
                </p>
                <p><a href="/zwanger-en-fit" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
            <div class="column one-half"
                style="background:url( {{ theme:img src='zwanger-fit-3.jpg' }} ) center 30%;background-size:cover;"></div>
        </div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url( {{ theme:img src='yin-yoga-groepslessen.jpg' }} ) 10% center;background-size:cover;">
            </div>
            <div class="column one-half last-col bigpadding text-light" style="background: #e50378">
                <h4 class="uppercase"><strong>Yin Yoga</strong></h4>
                <hr class="small thick">
                <p>Heb jij een druk en actief leven? Kom tot rust en doe mee met onze Yin Yoga lessen. Tijdens de lessen ligt de focus op diepe ontspanning, overgave en loslaten van spanningen. De houdingen worden 3 tot 5 minuten aangehouden, hierbij kun je rek- en discomfort ervaren. Even uit je hoofd en in je lijf, kom weer in verbinding met jezelf. Yin yoga helpt je soepeler te worden en je houding te verbeteren. Het vermindert stress en lichamelijke klachten.
                </p>
                <p><a href="/yin-yoga" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
        </div>

        <!-- <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col bigpadding text-light" style="background: #f5a802">
                <h4 class="uppercase"><strong>YEP bootcamp</strong></h4>
                <hr class="small thick">
                <p>Je wilt graag blijven sporten, maar wordt een jaartje ouder. Dan is onze YEP (young elderly person) Bootcamp echt wat voor jou!
                    We bieden je een uurtje lekker buiten sporten op je eigen niveau in een gezellige groep. Tijdens de YEP Bootcamp onderhoud je kracht, lenigheid, balans en uithoudingsvermogen om ouderdomskwalen te voorkomen. Ga voor vitaliteit, kwaliteit en veiligheid doe mee met de YEP Bootcamp.                    
                </p>
                <p><a href="/yep-bootcamp" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
            <div class="column one-half"
                style="background:url( {{ theme:img src='yep-2.jpeg' }} ) center center;background-size:cover;">
            </div>
        </div> -->

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col bigpadding text-light" style="background: #008278">
                <h4 class="uppercase"><strong>Boxing & Fit</strong></h4>
                <hr class="small thick">
                <p>Lijkt het jou altijd al tof om een keer lekker los te gaan tijdens een bokstraining of wil je even je hoofd leeg maken na een drukke week? Dan is Boxing & Fit de perfecte workout voor jou!
                    Tijdens onze boks workouts wordt er getraind in groepsverband met bokshandschoenen, pads en trapkussens. Het draait om teamwork en uithoudingsvermogen gecombineerd met krachtoefeningen. 
                    </p>
                <p><a href="/boxing-en-fit" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
			<div class="column one-half"
                style="background:url( {{ theme:img src='boxing-en-fit-blok.jpeg' }} ) center 20%;background-size:cover;">
            </div>
        </div>

        <div class="column-section boxed-sticky adapt-height clearfix">
			<div class="column one-half"
                style="background:url( {{ theme:img src='strong-fit-hero.jpeg' }} ) center center;background-size:cover;">
			</div>
            <div class="column one-half last-col bigpadding text-light" style="background: #7fdbca">
                <h4 class="uppercase"><strong>Strong & Fit</strong></h4>
                <hr class="small thick">
                <p>Wil jij sterker, fitter en gezonder worden? Doe mee met deze intensieve, grensverleggende en gezellige Strong & Fit workouts.
                    Tijdens deze workouts staan kwaliteit, uitdaging, afwisseling en persoonlijke aandacht centraal. Creëer een moment voor jezelf, maak je hoofd leeg en haal alles eruit wat erin zit! Kom lekker buiten sporten in kleine groepen van max 12 personen.                     
                </p>
                <p><a href="/strong-en-fit" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
        </div>

        <!-- <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding text-light" style="background: #c8c8c8">
                <h4 class="uppercase"><strong>Small group</strong></h4>
                <hr class="small thick">
                <p>Heb jij persoonlijke aandacht nodig om jouw doel te bereiken, maar vind je het ook gezellig om met anderen te trainen? Dan is small group een perfecte training voor jou! 
                    Sporten met je familie, vrienden of vriendinnen in onze small group is het mogelijk. Wij geven je de kennis en aandacht die je nodig hebt om jouw doelen te behalen. 
                    </p>
                <p><a href="/small-group" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
			<div class="column one-half last-col"
                style="background:url( {{ theme:img src='small-group-2.jpg' }} ) center center;background-size:cover;">
            </div>
        </div> -->

</div>

{{ partial:footer }}