<!-- PAGE CONTENT -->
<div id="page-content">

    {{ partial:navigation }}

    {{# <section id="hero" class="hero-auto">

        <div class="revolution-slider-wrapper">
            <div class="revolution-slider" data-version="5.0">
                <ul>
                    <li class="text-light" data-transition="fade" data-mediafilter="moon" data-masterspeed="500">
                        <img src="{{ theme:img src='hero-home.jpg' }}" class="rev-slidebg" data-bgfit="cover"
                            data-bgrepeat="no-repeat">
                    </li> <!-- END first slide -->

                    <li class="text-light" data-transition="fade" data-mediafilter="moon" data-masterspeed="500">
                        <img src="{{ theme:img src='bootcamp-hero.jpg' }}">
                    </li>

                    <li class="text-light" data-transition="fade" data-mediafilter="moon" data-masterspeed="500">
                        <img src="{{ theme:img src='small-group-1.jpg' }}">
                    </li>
                </ul>

                <div class="tp-static-layers text-light">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sudo-caption" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="['-210','-200','-180','-190']" data-fontsize="['72','67','50','42']"
                        data-lineheight="['80','75','46','50']" data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;" data-start="800">
                        <strong>JOUW DOEL<br>ONZE MISSIE</strong>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sudo-caption subtitle-1" data-x="center" data-hoffset="['70', '0', '0', '0']"
                        data-y="center" data-voffset="['-100','-80','-90','-100']" data-fontsize="['24','24','25','18']"
                        data-lineheight="['32','32','21','24']" data-width="['700', '800', '600', '350']"
                        data-height="none" data-whitespace="normal" data-transform_idle="o:0.7" data-start="800">
                        <div>Ga voor optimaal resultaat op de lange termijn</div>
                    </div>


                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="['100','100','80','90']" data-fontsize="['24','24','20','18']"
                        data-width="['900', '800', '600', '350']" data-height="none" data-whitespace="wrap">
                        <strong>Wij maken het verschil:</strong><br><br>
                        &#10003; Professionele begeleiding<br>
                        &#10003; Kwaliteit staat op nummer één<br>
                        &#10003; Persoonlijke aandacht<br>
                        &#10003; Hoge calorieverbranding (600 - 1000 kcal per training)<br>
                        &#10003; Snel resultaat<br>
                        &#10003; Plezier en sporten in één<br>
                        &#10003; Uitdaging voor iedereen<br>
                        &#10003; gemakkelijk en snel inschrijven voor lessen met onze app
                    </div>
                </div>
            </div><!-- END .revolution-slider -->
        </div> <!-- END .revolution-slider-wrapper -->

        <a href="#" id="scroll-down" class="text-light"></a>

    </section> #}}

    <!-- HERO  -->
	<section id="hero" class="hero-auto">
    	
        <div class="revolution-slider-wrapper">
            <div id="revolutionslider1" class="revolution-slider"  data-version="5.0">
                <ul>
                    <li class="text-light" data-transition="fade" data-masterspeed="700">			
                        <!-- MAIN IMAGE -->
                        <img src="{{ theme:img src='bootcamp-hero.jpg' }}"  alt=""  width="1920" height="1280">

                                                    
                        <!-- LAYER NR. 3 --> 
                        <div class="tp-caption sudo-caption align-center" 						
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['-50', '-50', '-40', '-100']"
                            data-fontsize="['72','67','58','42']"
							data-lineheight="['80','75','66','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="y:50px;o:0;s:1000;e:Power3.easeOut;" 
                            data-transform_out="o:0" 							 
                            data-start="800">
                            <strong class="uppercase fixed-mobile">Groepslessen en <br>Personal Training</strong>
                        </div>
                        
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption" 						
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['160','160','130','130']"
                            data-width="none"
							data-height="none"
							data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;" 
                            data-transform_out="opacity:0" 							 
                            data-start="1200">
                            <a href="/lesrooster" class="sr-button button-small button-4 rounded">Bekijk het lesrooster</a>
                        </div>
                                            
                    </li> <!-- END first slide -->
                    
                    <li class="text-light" data-transition="fade" data-masterspeed="700">			
                        <!-- MAIN IMAGE -->
                        <img src="{{ theme:img src='small-group-1.jpg' }}"  alt=""  width="1920" height="1280">
                        
                                                    
                        <!-- LAYER NR. 3 --> 
                        <div class="tp-caption sudo-caption align-center" 						
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['-50','-50','-40','-25']"
                            data-fontsize="['72','67','58','42']"
							data-lineheight="['80','75','66','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="y:50px;o:0;s:1000;e:Power3.easeOut;" 
                            data-transform_out="o:0" 							 
                            data-start="400">
                            <strong class="uppercase fixed-mobile">Strippenkaart of <br>abonnement?</strong>
                        </div>
                        
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption" 						
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['50','50','95','75']"
                            data-width="auto" 							
                            data-whitespace="normal"
                            data-transform_idle="o:1;" 
                            data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;" 
                            data-transform_out="opacity:0" 							 
                            data-start="600">
                            <hr class="zigzag medium">
                        </div>
                        
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sudo-caption subtitle-2 uppercase"				
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['100','100','150','150']"
                            data-fontsize="['24','24','20','18']"
							data-lineheight="['24','24','20','18']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
                            data-transform_idle="o:0.7"	
                            data-transform_in="o:0;y:50px;s:1000;e:Power3.easeOut;" 
                            data-transform_out="o:0" 							 
                            data-start="800"
                            data-responsive_offset="on">
                            Aan jou de keus
                        </div>
                                            
                    </li> <!-- END first slide -->

                    <li class="text-light" data-transition="fade" data-masterspeed="700">			
                        <!-- MAIN IMAGE -->
                        <img src="{{ theme:img src='slide-3.jpg' }}"  alt=""  width="1920" height="1280">
                        
                                                    
                        <!-- LAYER NR. 3 --> 
                        <div class="tp-caption sudo-caption align-center" 						
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['-50','-50','-40','-25']"
                            data-fontsize="['72','67','58','30']"
							data-lineheight="['80','75','66','35']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="y:50px;o:0;s:1000;e:Power3.easeOut;" 
                            data-transform_out="o:0" 							 
                            data-start="400">
                            <strong class="uppercase">Een sportieve clinic <br>of bedrijfsfitness</strong>
                        </div>
                        
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption" 						
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['50','50','95','50']"
                            data-width="auto" 							
                            data-whitespace="normal"
                            data-transform_idle="o:1;" 
                            data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;" 
                            data-transform_out="opacity:0" 							 
                            data-start="600">
                            <hr class="zigzag medium">
                        </div>
                        
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sudo-caption subtitle-2 uppercase"				
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['100','100','95','100']"
                            data-fontsize="['24','24','20','18']"
							data-lineheight="['24','24','20','18']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
                            data-transform_idle="o:0.7"	
                            data-transform_in="o:0;y:50px;s:1000;e:Power3.easeOut;" 
                            data-transform_out="o:0" 							 
                            data-start="800"
                            data-responsive_offset="on">
                            Alles is mogelijk
                        </div>
                                            
                    </li> <!-- END first slide -->

                    <li class="text-light" data-transition="fade" data-masterspeed="700">			
                        <!-- MAIN IMAGE -->
                        <img src="{{ theme:img src='contact-page.jpg' }}"  alt=""  width="1920" height="1280">
                        
                                                    
                        <!-- LAYER NR. 3 --> 
                        <div class="tp-caption sudo-caption align-center" 						
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="0"
                            data-fontsize="['72','67','58','42']"
							data-lineheight="['80','75','66','50']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
                            data-transform_idle="o:1;" 
                            data-transform_in="y:50px;o:0;s:1000;e:Power3.easeOut;" 
                            data-transform_out="o:0" 							 
                            data-start="800">
                            <strong>JOUW DOEL<br>ONZE MISSIE</strong>
                        </div>
                        
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption" 						
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['100','100','95','75']"
                            data-width="auto" 							
                            data-whitespace="normal"
                            data-transform_idle="o:1;" 
                            data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;" 
                            data-transform_out="opacity:0" 							 
                            data-start="1000">
                            <hr class="zigzag medium">
                        </div>
                    
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sudo-caption subtitle-2 uppercase"				
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="['150','150','150','150']"
                            data-fontsize="['24','24','20','12']"
							data-lineheight="['24','24','20','18']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
                            data-transform_idle="o:0.7"	
                            data-transform_in="o:0;y:50px;s:1000;e:Power3.easeOut;" 
                            data-transform_out="o:0" 							 
                            data-start="800"
                            data-responsive_offset="on">
                            Ga voor optimaal resultaat op de lange termijn
                        </div>
                                            
                    </li> <!-- END first slide -->
              	</ul>				
             </div><!-- END .revolution-slider -->
       	</div> <!-- END .revolution-slider-wrapper -->
         
        <a href="#" id="scroll-down" class="text-light"></a>
        
    </section>
    <!-- HERO -->

    <!-- PAGEBODY -->
	<section id="page-body" class="notoppadding">
        
        <div class="fullwidth-section" style="background:#f5f6f7;">
        	<div class="fullwidth-content wrapper">
                <div class="column-section">
                    <div class="column two-third">
                        <h1><strong>Active & Fit</strong></h1>
            	<h2 class="subtitle-2">Wij maken het verschil:</h2>
                <div class="spacer-big"></div>

                <ul class="no-list-style">
                    <li><h6 class="uppercase">&#10003; Kwaliteit staat op nummer één</h6></li>
                    <li><h6 class="uppercase">&#10003; Persoonlijke aandacht</h6></li>
                    <li><h6 class="uppercase">&#10003; Professionele begeleiding</h6></li>
                    <li><h6 class="uppercase">&#10003; Snel resultaat</h6></li>
                    <li><h6 class="uppercase">&#10003; Plezier en sporten in één</h6></li>
                    <li><h6 class="uppercase">&#10003; Uitdaging voor iedereen</h6></li>
                    <li><h6 class="uppercase">&#10003; Makkelijk en snel trainingen inplannen via onze app</h6></li>
                </ul>
                    </div>
                    <div class="column one-third last-col" style="background: url( {{ theme:img src='wijmakenhetverschil.jpeg' }} ) center center / cover; min-height: 500px;"></div>
                </div>
            	
                
            </div>
        </div> <!-- END .fullwidth-section -->
        
 	</section>
	<!-- PAGEBODY -->

    <!-- PAGEBODY -->
    <section id="page-body" class="notoppadding">

        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
            class="sr-button button-full button-2">Join Us!<br><strong>Gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="wrapper-small">
            <h1 class="align-center" style="font-size:40px;"><strong>Word de fitste versie van jezelf!</strong></h1>
            <hr class="big colored align-center">
            <h4 class="subtitle-1 align-center">Bij ons is iedereen welkom, train op je eigen niveau.<br>
                Creëer een nieuwe actieve passie en daag jezelf uit.<br>
                Laat ons je helpen <strong>Active & Fit</strong> te worden!<br>
            </h4>
        </div> <!-- END .wrapper-small -->

        <div class="spacer-big"></div>

        <div id="page-body">
            <div class="wrapper">
                <div class="column-section bordered-spaced vertical-center clearfix">
                    <div class="column one-third" style="min-height: 400px; background-color: #F5A802;">
                        <h4 class="uppercase" style="color: white"><strong>Groepslessen</strong></h4>
                        <p style="color: white">Wij bieden elke dag verschillende groepslessen aan, benieuwd welke?</p>
                        <p><a href="/groepslessen" class="sr-button button-small button-3" style="color: white">Bekijk onze groepslessen</a></p>
                    </div>
                    <div class="column one-third" style="background: url( {{ theme:img src='bc-inhoud.jpeg' }} ) center center / cover; min-height: 400px;">
                    </div>
                    <div class="column one-third last-col" style="background: url( {{ theme:img src='groepslessen-2.jpeg' }} ) center center / cover; min-height: 400px;">
                    </div>
                </div>
                
                <div class="column-section bordered-spaced vertical-center clearfix">
                    <div class="column two-third" style="background: url( {{ theme:img src='personal-training-4.jpg' }} ) center center / cover; min-height: 400px;">
                    </div>
                    <div class="column one-third last-col" style="min-height: 400px; background-color: #008278; color: white;">
                        <h4 class="uppercase" style="color:white;"><strong>Personal training / Duo personal training</strong></h4>
                        <p>Wil jij jouw persoonlijke doelen behalen en professionele begeleiding?
                            Ga voor personal training of duo personal training.</p>
                            <p><a href="/personal-training" class="sr-button button-small button-3">Ontdek personal training</a></p>
                    </div>
                </div>
    
                <div class="column-section bordered-spaced vertical-center clearfix">
                    <div class="column one-third" style="min-height: 400px; background-color: #e50378;">
                        <h4 class="uppercase" style="color: white"><strong>Bedrijfsfitness</strong></h4>
                        <p style="color: white">Wil jij minder ziekteverzuim in jouw bedrijf? Houd je werknemers fysiek en mentaal fit. Bekijk de mogelijkheden van bedrijfsfitness</p>
                        <p><a href="/business-bootcamp" class="sr-button button-small button-3">Meer info</a></p>
                    </div>
                    <div class="column one-third" style="background: url( {{ theme:img src='slide-3.jpeg' }} ) center center / cover; min-height: 400px;">
                    </div>
                    <div class="column one-third last-col" style="background: url( {{ theme:img src='business-bootcamp-blok.jpeg' }} ) center center / cover; min-height: 400px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer-medium"></div>

        <!-- PAGEBODY -->
	<section id="page-body">
    	  
        <div class="wrapper">
                   
           <h3 class="align-center"><strong>Ons team</strong></h3>
           <div class="spacer-medium"></div>
           
           <div class="column-section clearfix">
               <div class="column one-sixth"></div>
               <div class="column two-sixth team-member align-center">
                   <div class="team-image">
                       <a href="/team/janieke-elferink"><img src="/img/Janieke.jpeg" alt="Janieke Elferink"></a>
                   </div>
                   <div class="team-content">
                       <h5 class="team-name uppercase"><strong>Janieke Elferink</strong></h5>
                       <h6 class="subtitle-2">Eigenaresse/ Personal trainer / Fysiotherapeute</h6>
                       <p>POSITIEF - ENTHOUSIAST - FANATIEK</p>
                   </div>
               </div>
               <div class="column two-sixth team-member align-center">
                   <div class="team-image">
                    <a href="/team/marinka-elferink"><img src="/img/Marinka.jpg" alt="Marinka Elferink"></a>
                   </div>
                   <div class="team-content">
                       <h5 class="team-name uppercase"><strong>Marinka Elferink</strong></h5>
                       <h6 class="subtitle-2">Bootcamp trainer / Boks trainer</h6>
                       <p>ENERGIEK – AMBITIEUS – CREATIEF</p>
                   </div>
               </div>
               <div class="column one-sixth last-col"></div>
               {{# <div class="column one-third last-col team-member align-center">
                   <div class="team-image">
                    <a href="/team/sharon-gordijn"><img src="files/uploads/600x400-light.jpg" alt="Sharon Gordijn"></a>
                   </div>
                   <div class="team-content">
                       <h5 class="team-name uppercase"><strong>Sharon Gordijn</strong></h5>
                       <h6 class="subtitle-2">Bootcamp / Personal trainer / Strong & Fit</h6>
                       <p>ENTHOUSIAST – SOCIAAL – GEDREVEN</p>
                   </div>
               </div> #}}
           </div> <!-- END .column-section -->
           
           <div class="spacer-big"></div>
           
       </div> <!-- END .wrapper -->	
      
    </section>
   <!-- PAGEBODY -->



        <h5 class="subtitle-1 align-center">POWERED BY:</h5>

        <div class="spacer-small"></div>



        <div class="logo-slider">
            {{# <div style="margin-right: 15px;"><img src="{{ theme:img src='hhc-hardenberg.jpg' }}"></div> #}}
            <div style="margin-right: 15px;"><img src="{{ theme:img src='alleeninkt.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='rabobank.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='champ.jpg' }}"></div>
            {{# <div style="margin-right: 15px;"><img src="{{ theme:img src='elle.jpg' }}"></div> #}}
            {{# <div style="margin-right: 15px;"><img src="{{ theme:img src='akmd.jpg' }}"></div> #}}
            {{# <div style="margin-right: 15px;"><img src="{{ theme:img src='beerze-bulten.jpg' }}"></div> #}}
            <div style="margin-right: 15px;"><img src="{{ theme:img src='prins-sport.jpg' }}"></div>
            {{# <div style="margin-right: 15px;"><img src="{{ theme:img src='nike.png' }}"></div> #}}
            {{# <div style="margin-right: 15px;"><img src="{{ theme:img src='mijnfysio.jpg' }}"></div> #}}
            {{# <div style="margin-right: 15px;"><img src="{{ theme:img src='heuver-banden.jpg' }}"></div> #}}
            <div style="margin-right: 15px;"><img src="{{ theme:img src='de-belten.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='ff-doorbijten.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='kios-45.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='svs.jpg' }}"></div>
            {{# <div style="margin-right: 15px;"><img src="{{ theme:img src='JA-logo.jpg' }}"></div> #}}
        </div>

        <div class="spacer-big"></div>

    </section>
    <!-- PAGEBODY -->



    {{ partial:footer }}

</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

