<!-- PAGE CONTENT -->
<div id="page-content">

    {{ partial:navigation }}

    <section id="hero" class="hero-auto">

        <div class="revolution-slider-wrapper">
            <div class="revolution-slider" data-version="5.0">
                <ul>
                    <li class="text-light" data-transition="fade" data-mediafilter="moon" data-masterspeed="500">
                        <img src="{{ theme:img src='hero-home.jpg' }}" class="rev-slidebg" data-bgfit="cover"
                            data-bgrepeat="no-repeat">
                    </li> <!-- END first slide -->

                    <li class="text-light" data-transition="fade" data-mediafilter="moon" data-masterspeed="500">
                        <img src="{{ theme:img src='bootcamp-hero.jpg' }}">
                    </li>

                    <li class="text-light" data-transition="fade" data-mediafilter="moon" data-masterspeed="500">
                        <img src="{{ theme:img src='small-group-1.jpg' }}">
                    </li>
                </ul>

                <div class="tp-static-layers text-light">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sudo-caption" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="['-210','-200','-180','-190']" data-fontsize="['72','67','50','42']"
                        data-lineheight="['80','75','46','50']" data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;" data-start="800">
                        <strong>JOUW DOEL<br>ONZE MISSIE</strong>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sudo-caption subtitle-1" data-x="center" data-hoffset="['70', '0', '0', '0']"
                        data-y="center" data-voffset="['-100','-80','-90','-100']" data-fontsize="['24','24','25','18']"
                        data-lineheight="['32','32','21','24']" data-width="['700', '800', '600', '350']"
                        data-height="none" data-whitespace="normal" data-transform_idle="o:0.7" data-start="800">
                        <div>Ga voor optimaal resultaat op de lange termijn</div>
                    </div>


                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="['100','100','80','90']" data-fontsize="['24','24','20','18']"
                        data-width="['900', '800', '600', '350']" data-height="none" data-whitespace="wrap">
                        <strong>Wij maken het verschil:</strong><br><br>
                        &#10003; Professionele begeleiding<br>
                        &#10003; Kwaliteit staat op nummer één<br>
                        &#10003; Persoonlijke aandacht<br>
                        &#10003; Hoge calorieverbranding (600 - 1000 kcal per training)<br>
                        &#10003; Snel resultaat<br>
                        &#10003; Plezier en sporten in één<br>
                        &#10003; Uitdaging voor iedereen<br>
                    </div>
                </div>
            </div><!-- END .revolution-slider -->
        </div> <!-- END .revolution-slider-wrapper -->

        <a href="#" id="scroll-down" class="text-light"></a>

    </section>

    <!-- PAGEBODY -->
    <section id="page-body" class="notoppadding">

        <a href="https://www.paynplan.nl/free-trial/p/21900" target="_blank"
            class="sr-button button-full button-2">Join Us!<br><strong>Gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="wrapper-small">
            <h1 class="align-center" style="font-size:40px;"><strong>Word ‘Active &amp; Fit’, kom in beweging!</strong></h1>
            <hr class="big colored align-center">
            <h4 class="subtitle-1 align-center">Bij ons is iedereen welkom, train op je eigen niveau.<br>
                Creëer een nieuwe actieve passie en daag jezelf uit.<br>
                Laat ons je helpen Active & Fit te worden!<br>
            </h4>
        </div> <!-- END .wrapper-small -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding text-light" style="background: #111">
                <h4 class="uppercase"><strong>Bootcamp</strong></h4>
                <hr class="small thick">
                <p>Wil je onder professionele begeleiding buiten sporten met een gezellige groep? Dan is dit de perfecte
                    training voor jou.
                    We bieden je een uitdagende full body workout in de natuur. Verbrand tot 1000 calorieën per
                    training, word snel fit!
                    Kies voor kwaliteit en veiligheid, door onze kleine groepen (max 14 personen).</p>
                <p><a href="/bootcamp" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
            <div class="column one-half last-col"
                style="background:url( {{ theme:img src='bootcamp.jpeg' }} ) center center;background-size:cover;">

            </div>
        </div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url( {{ theme:img src='boxing-bootcamp.jpg' }} ) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding text-light" style="background: #111">
                <h4 class="uppercase"><strong>Boxing bootcamp</strong></h4>
                <hr class="small thick">
                <p>Lijkt het jou altijd al tof om een keer lekker los te gaan tijdens een bokstraining of wil je even je
                    hoofd leeg maken
                    na een drukke week? Dan is boxing de perfecte workout voor jou!
                    Tijdens onze bokstrainingen wordt er getraind in groepsverband met bokshandschoenen, pads en
                    trapkussens. Het draait om
                    teamwork en uithoudingsvermogen gecombineerd met krachtoefeningen.
                </p>
                <p><a href="/boxing-bootcamp" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
        </div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding text-light" style="background: #111">
                <h4 class="uppercase"><strong>Business bootcamp</strong></h4>
                <hr class="small thick">
                <p>Wil jij de vitaliteit in jouw bedrijf optimaliseren? Business bootcamp is speciaal voor bedrijven die
                    willen investeren
                    in de vitaliteit van haar werknemers. Het is algemeen bekend dat fit personeel een positieve invloed
                    heeft op het
                    ziekteverzuim onder werknemers. Houd je werknemers fysiek en mentaal fit en ga wekelijks een uurtje
                    samen sporten. Dit
                    zorgt voor een ontspannen gevoel en versterkt de band tussen collega’s. Gezonde werknemers zorgen
                    voor hogere
                    productiviteit en minder ziekteverzuim, dubbele winst, wie wil dat nou niet?</p>
                <p><a href="/business-bootcamp" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
            <div class="column one-half last-col"
                style="background:url( {{ theme:img src='business-bootcamp.jpg' }} ) center center;background-size:cover;">

            </div>
        </div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url( {{ theme:img src='personal-training.jpg' }} ) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding text-light" style="background: #111">
                <h4 class="uppercase"><strong>Personal training</strong></h4>
                <hr class="small thick">
                <p>Heb jij een druk leven en een stok achter de deur nodig om te gaan sporten? Bij ons is personal
                    training meer dan een
                    uurtje sporten. Wij helpen je van A tot Z om het gewenste resultaat te bereiken, oftewel het totale
                    plaatje. Wil jij je
                    leefstijl veranderen en een nieuwe gezonde balans in je leven vinden? Wij focussen ons op jouw doel.
                    Bij ons krijgt elke
                    sporter een trainingsplan op maat. Met deze strategie streven we naar het hoogst haalbare resultaat
                    op de lange termijn.
                </p>
                <p><a href="/personal-training" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
        </div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding text-light" style="background: #111">
                <h4 class="uppercase"><strong>Small group</strong></h4>
                <hr class="small thick">
                <p>Heb jij persoonlijke aandacht nodig om jouw doel te bereiken, maar vind je het ook gezellig om met
                    anderen te trainen?
                    Dan is small group een perfecte training voor jou!
                    Sporten met je familie, vrienden of vriendinnen in onze small group is het mogelijk. Wij geven je de
                    kennis en aandacht
                    die je nodig hebt om jouw doelen te behalen.</p>
                <p><a href="/small-group" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
            <div class="column one-half last-col"
                style="background:url( {{ theme:img src='small-group.jpg' }} ) center center;background-size:cover;">

            </div>
        </div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url( {{ theme:img src='kids-bootcamp-1.jpeg' }} ) center center;background-size:cover;">
            </div>
            <div class="column one-half last-col bigpadding text-light" style="background: #111">
                <h4 class="uppercase"><strong>Kids bootcamp</strong></h4>
                <hr class="small thick">
                <p>Wil jij op een leuke manier lekker buiten sporten samen met andere kinderen? Probeer onze kids bootcamp! Stoer, sterk,
                samen, spel en plezier deze woorden beschrijven onze kids bootcamp.
                Houdt jouw kind ook van lekker buitenspelen en van een uitdaging? Bij de kids bootcamp draait het om het verbeteren van
                conditie, kracht, coördinatie en motoriek op een leuke speelse manier. Kies voor veiligheid en kwaliteit, door onze
                professie en kleine groepen (max 14 kids).
                </p>
                <p><a href="/kids-bootcamp" class="sr-button button-small button-5">Meer info</a> &nbsp;</p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column two-third bigpadding has-animation" style="background:#ffffff;">
                <h2><strong>Janieke Elferink</strong></h2>
                <hr class="big colored mini">
                <h5 class="subtitle-2">POSITIEF - ENTHOUSIAST - FANATIEK</h5>
                <p>Ik heb geleerd dat beweging de belangrijkste factor voor een gezond lichaam is. Daarom ben ik mijn
                    bedrijf Active & Fit
                    gestart. Op dit moment studeer ik fysiotherapie. Daarnaast volg ik verschillende cursussen om mijn
                    kennis te vergroten.
                    Het geven van trainingen en het begeleiden en motiveren van mensen geven me veel positieve energie.
                    Zelf ben ik ervan
                    overtuigd dat een sterk, fit en gezond lichaam veel voordelen heeft: een hoger energieniveau, een
                    gezonde geest, meer
                    zelfvertrouwen en het ervaren van stress vermindert.
                    Als ik iets wil bereiken zet ik me volledig in. Dit verwacht ik ook van mijn sporters.<br>
                    <strong>Let’s go Active &amp; Fit!</strong></p>

                <p>
                    Diploma's<br>
                    - Fitvak A<br>
                    - Fitvak B<br>
                    - Bootcamptrainer<br>
                    - Sport & Voeding<br>
                    - Zwanger & fit<br>
                    - Lapt Knock-out
                </p>
            </div>
            <div class="column one-fourth last-col has-animation janieke" data-delay="100"
                style="background:url( {{ theme:img src='Janieke.jpeg' }} ) center center; background-size: contain; background-repeat: no-repeat;">
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-small"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-fourth has-animation janieke" data-delay="100"
                style="background:url( {{ theme:img src='Marinka.jpg' }} ) center center; background-size: contain; background-repeat: no-repeat;">
            </div>
            <div class="column two-third bigpadding has-animation last-col" style="background:#ffffff;">
                <h2><strong>Marinka Elferink</strong></h2>
                <hr class="big colored mini">
                <h5 class="subtitle-2">ENERGIEK – AMBITIEUS – CREATIEF</h5>
                <p>Sport vind ik heel belangrijk. Het uitdagen van mezelf en anderen vind ik leuk om te doen. Hier krijg
                    ik energie van.
                    Tijdens de trainingen let ik heel goed op de houding van mijn deelnemers. Ik gebruik mijn
                    creativiteit om elke les weer
                    te zorgen voor afwisseling. Door voldoende uitdaging te bieden tijdens het trainen motiveer ik mijn
                    deelnemers om net
                    even een stapje extra te doen. Hierdoor verhoog ik het trainingsniveau van de sporters, zodat ze aan
                    het eind van de
                    training een voldaan gevoel hebben. Dan heb ik mijn doel bereikt.
                    <br>
                    <strong>Daag jezelf uit en doe mee!</strong></p>

                <p>
                    Diploma<br>
                    - Bootcamptrainer
                </p>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <h5 class="subtitle-1 align-center">POWERED BY:</h5>

        <div class="spacer-small"></div>



        <div class="logo-slider">
            <div style="margin-right: 15px;"><img src="{{ theme:img src='hhc-hardenberg.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='alleeninkt.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='rabobank.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='champ.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='elle.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='akmd.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='beerze-bulten.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='prins-sport.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='nike.png' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='mijnfysio.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='heuver-banden.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='de-belten.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='ff-doorbijten.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='kios-45.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='svs.jpg' }}"></div>
            <div style="margin-right: 15px;"><img src="{{ theme:img src='JA-logo.jpg' }}"></div>
        </div>

        <div class="spacer-big"></div>

    </section>
    <!-- PAGEBODY -->



    {{ partial:footer }}

</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->

