<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
        data-parallax-image="{{ theme:img src='bootcamp-hero.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Kids Bootcamp</strong></h1>
            <h4 class="subtitle-2">Nothing beats a fit kid</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Bootcamp, de uitdaging voor ieder kind.</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Full body workout</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Professionele begeleiding</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Plezier, afwisseling en bewegen in één</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Elke training is anders</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Kracht, conditie, snelheid, coördinatie, motoriek en lenigheid</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Persoonlijke aandacht</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Spelenderwijs sporten op eigen niveau</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Meer zelfvertrouwen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Gezellig sporten met anderen kinderen</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col"
                        style="background:url( {{ theme:img src='kids-bootcamp-2.jpeg' }} ) center 60% no-repeat;background-size: cover;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center has-animation">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Bootcamp is een uitdaging voor ieder kind. De trainer zorgt ervoor dat elk kind mee kan doen op zijn of haar eigen
                    niveau.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Lekker buiten sporten onder professionele begeleiding van een gecertificeerde trainer, met max 14 kids. Op deze manier
                    is er voldoende overzicht om de kwaliteit van de training hoog te houden en wordt de veiligheid gewaarborgd.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Tijdens de bootcamp zorgen we ervoor dat elk kind de aandacht krijgt die hij of zij verdient.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>Er wordt altijd buiten op een uitdagende locatie getraind: in het zand, het park, een speeltuin of in het bos.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://www.paynplan.nl/free-trial/p/21900" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding"
                style="background:url({{ theme:img src='kids-bootcamp-1.jpeg' }} ) center center no-repeat; background-size: cover;">
            </div>
            <div class="column one-half" style="background:none;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick">
                <p>- Kinderen van 6 t/m 12 jaar<br>
                - Stoere kids die het niet erg vinden om vies te worden<br>
                - Kinderen die graag buiten spelen en van een uitdaging houden.<br>
                - Kinderen die hun motoriek of coördinatie willen verbeteren.<br>
                - Kinderen die graag samen met anderen spelen<br>
                <p><strong>Ontdek wat bootcamp met jouw kind doet!</strong></p>
                </p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Inhoud kids bootcamp</strong></h4>
                <hr class="small thick">
                <p>- Trainen in de buitenlucht<br>
                - Sporten in kleine groepen van max 14 kinderen<br>
                - Trainen met je eigen lichaamsgewicht<br>
                - Een veelzijdige training met allerlei loop en bewegingsvormen<br>
                - Spelenderwijs conditie, kracht, snelheid, lenigheid, coördinatie en motoriek verbeteren<br>
                - Een professionele trainer die op een leuke manier motiveert<br>
                - Duur van een training ongeveer 60 minuten</p>
                <p><strong>Een uitdaging voor elk kind!</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='bootcamp-3.jpg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='bootcamp-4.jpg' }}) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick">
                <p>- De training gaat altijd door, weer of geen weer<br>
                - Plezier en sporten in één<br>
                - Geeft het zelfvertrouwen van je kind een boost<br>
                - Het kind leert samenwerken met andere kinderen op een leuke manier<br>
                - Leuk en afwisselend, verveelt nooit<br>
                - Sporten in de buitenlucht is goed voor iedereen<br>
                - Speels, spannend en effectief</p>
                <p><strong>Een vrolijk, fit en gezond kind!</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper">

            <h4 class="align-center"><strong>Kosten</strong></h4>
            <div class="spacer-medium"></div>

            <div class="column-section bordered-sticky clearfix accent-pricing">
                <div class="column one-half pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Gratis proefles</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">GRATIS</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/free-trial/p/21900"
                            class="sr-button button-small button-1 rounded">Aanmelden</a>
                    </div>
                </div>
                <div class="column one-half pricing-table accent-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">10x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€60,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/22864" class="sr-button button-small button-2 rounded">Kopen</a>
                    </div>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->
    </section>
</div>

{{ partial:footer }}