<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-big  parallax-section text-light"
        data-parallax-image="{{ theme:img src='small-group-1.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Lesrooster</strong></h1>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body">

        <div class="column two-third">
            <div class="wrapper-small">
                <script type="text/javascript"
                    src="https://club.fitmanager.com/assets/js/widget/initwidget.js"></script><iframe frameborder="0"
                    style="width: 100%;height:1200px"
                    src="https://club.fitmanager.com/widget/1?widget_layout=full&init=1&token=26f00ece2fd79644f27f9a663733a8e4ba077f58"
                    id="fmwidgetfullframe201610"></iframe>
            </div>

            <div class="spacer-small"></div>
        </div>

        <div class="column one-third">
            <div class="wrapper-small">
                <h3 class="align-center"><strong>Staat jouw ideale tijd er niet bij?</strong></h3>
                <hr class="zigzag small colored align-center">
                <h5 class="subtitle-1 align-center">Stuur gerust een mail of bel voor meer informatie!<br><a
                        class="sr-button sr-counter button-2 button-small rounded"
                        href="mailto:info@active-fit.nu">info@active-fit.nu</a><a
                        class="sr-button sr-counter button-2 button-small rounded"
                        href="tel:+31611415741">0611415741</a></h5>
                <div class="spacer-big"></div>
            </div>
        </div>

    </section>
</div>

{{ partial:footer }}