<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full  parallax-section text-light"
        data-parallax-image="{{ theme:img src='small-group-1.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Small group</strong></h1>
            <h4 class="subtitle-2">Small group, big results</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Wij helpen je bij het vinden van de juiste balans in voeding en
                    lifestyle.</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Professionele begeleiding</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Kleine groepen maximaal 6 personen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Train op je eigen niveau</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Persoonlijke begeleiding</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Werk aan jouw trainingsdoelen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Elke training is anders</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Plezier tijdens het sporten</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Makkelijk en snel trainingen inplannen via onze app</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col"
                        style="background:url({{ theme:img src='small-group-3.jpg' }}) center center no-repeat;background-size: contain;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Of je nu beginner bent, gevorderde of last hebt van een blessure, de small group is toegankelijk
                        voor iedereen. Wij
                        zorgen voor een training op maat. Iedereen heeft een doel, doe mee! No excuses!</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Professionaliteit en kwaliteit staat bij Active & Fit op nummer één, dus ook in onze small group
                        wordt er training
                        gegeven door een goed geschoolde personal trainer. Wij hebben de juiste kennis en kunde in huis
                        om je snel, verantwoord
                        en veilig je doelen te laten behalen.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Small group betekent kleine groep. Er wordt in een kleine groep van maximaal 6 personen gewerkt aan jouw doelen. Door dit kleine aantal krijg je meer persoonlijke begeleiding en word je goed in de gaten gehouden.<br>
                        De focus ligt op het behalen van jouw doel!</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>Er wordt buiten op een uitdagende locatie getraind: in het park, de stad of in het bos.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="tel:+31611415741" class="sr-button button-full button-2"><strong>Aanmelden gratis intake <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='small-group-2.jpg' }}) center center no-repeat; background-size: cover;">
            </div>
            <div class="column one-half bigpadding last-col" style="background:none; border: 2px solid #c8c8c8;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick colored">
                <p>- Je wilt graag onder intensieve begeleiding sporten, personal training is iets te prijzig<br>
                    - Je bent op zoek naar motivatie om te sporten en hebt een stok achter de deur nodig<br>
                    - Je traint graag samen met anderen die hetzelfde doel hebben als jij<br>
                    - Je houdt van afwisselende, uitdagende trainingen die je zelf niet hoeft te bedenken<br>
                    - Je traint zelf regelmatig, maar wilt graag meer uit je training halen<br>
                </p>
                <p><strong>Verleg je grenzen!</strong></p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent; border: 2px solid #7fdbca;">
                <h4 class="uppercase"><strong>Inhoud small group</strong></h4>
                <hr class="small thick colored">
                <p>
                    - Veel variatie, elke keer een nieuwe uitdaging<br>
                    - Workouts met verschillende materialen: kettlebells, resistance bands, powerbags, een TRX enz..<br>
                    - Hardlopen, intervaltraining, circuittraining en fitnessoefeningen<br>
                    - Testen en meten van de voortgang<br>
                    - Tips en trucs op het gebied van voeding en leefstijl<br>
                    - Sporten in kleine groepen van max 6 deelnemers<br>
                    - Verleg je grenzen, door het trainen in een gezellige groep<br>
                    - Duur van een training: ongeveer 60 minuten<br>
                <p><strong>Doe mee met onze small group, plezier en sporten in één!</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='small-group-4.jpg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='small-group-5.jpg' }}) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent; border: 2px solid #f5a802;">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick colored">
                <p>- Krijg een veelzijdig getraind lichaam<br>
                    - Bereik een hoger energie niveau<br>
                    - Train verantwoord op de juiste manier<br>
                    - Trainen in een groep werkt motiverend<br>
                    - Voel je sterk en fit<br>
                    - Verbeter je leefstijl <br>
                    - Sporten is goed voor lichaam en geest</p>
                <p><strong>Ga voor optimaal resultaat, ga de uitdaging aan!</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper align-center">

            <h2><strong>Kosten</strong></h2>
            <h5 class="subtitle-1">- Gratis intake<br>
                - 10x strippenkaart €160,-</h5>

            <div class="spacer-medium"></div>

            <h3><strong>Welk doel wil jij bereiken?</strong></h3>
            <h5 class="subtitle-1">Maak snel een afspraak om te kijken wat we voor elkaar kunnen betekenen.</h5>

            <p><a href="tel:+31611415741" class="sr-button button-2 button-small">Aanmelden gratis intake</a></p>

            <div class="spacer-big"></div>

        </div> <!-- END .wrapper -->

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->
    </section>
</div>

{{ partial:footer }}