<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
        data-parallax-image="{{ theme:img src='strong-fit-hero.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Strong &amp; Fit</strong></h1>
            <h4 class="subtitle-2">Challenge your limits</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Ga de uitdaging aan, verleg je grenzen en haal alles eruit wat erin zit!</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Full body workout in de natuur</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Professionele begeleiding</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Een stok achter de deur</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Uitdagende trainingen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Voel je fysiek en mentaal sterk</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Snel trainingsresultaat</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Verleg je grenzen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Strakker, slanker, sterker en soepeler</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Gemakkelijk zelf trainingen inplannen via onze app</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col"
                        style="background:url( {{ theme:img src='strong-fit-2.jpeg' }} ) center 60% no-repeat;background-size: cover;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center has-animation">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Strong & Fit is een intensieve trainingsvorm, we dagen je uit om jouw grenzen te verleggen. Tijdens deze training maken we regelmatig gebruik van gewichten, zoals kettlebels, barbells, dumbbells en slam balls. Liever een tandje minder? We bieden ook <a href="/bootcamp">bootcamp</a> lessen aan, deze lessen zijn iets minder intensief.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Jouw lichaam is kostbaar, daarom vinden wij een goede houding tijdens het sporten erg belangrijk. Bij ons train je onder begeleiding van een gecertificeerde trainer. Kwaliteit staat bij ons op één. Wij zullen er ten alle tijden voor zorgen dat er op een verantwoorde manier getraind wordt.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Wij sporten met maximaal 12 deelnemers, op deze manier houden wij het persoonlijk, je krijg de aandacht die je verdient.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>De trainingen worden altijd buiten op een fuctionele locatie gegeven.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding"
                style="background:url({{ theme:img src='strong-fit-wie.jpeg' }} ) center center no-repeat; background-size: cover;">
            </div>
            <div class="column one-half" style="background:none; border: 2px solid #e50378;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick colored">
                <p>- Je sport al een tijdje en wil graag net wat meer uit jezelf halen<br>
                - Je wilt je grenzen verleggen en hebt daar een stok achter de deur voor nodig<br>
                - Je sport wel, maar doet weinig aan krachttraining<br>
                - Je wilt graag uitdagende workouts proberen<br>
                - Je vindt sporten met anderen prettig<br>
                - Je hebt een druk leven en wilt stoom afblazen tijdens een intensieve workout<br>
                <p><strong>Ontdek hoeveel jij aan kunt!</strong></p>
                </p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent; border: 2px solid #c8c8c8;">
                <h4 class="uppercase"><strong>Inhoud Strong &amp; Fit</strong></h4>
                <hr class="small thick colored">
                <p>- Een intensieve workout, die jou meer energie geeft<br>
                - Afwisselende en effectieve trainingen gericht op sterker/fitter worden<br>
                - Train met gewichten en je eigen lichaamsgewicht<br>
                - Uitdaging en grenzen verleggen op jouw niveau<br>
                - Functionele oefeningen die van pas komen in het dagelijks leven<br>
                - Een enthousiaste trainer die jou motiveert om door te gaan<br>
                - Hard werken en plezier hebben<br>
                - Sporten in kleine groepen van max 12 deelnemers<br>
                - Een training duurt ongeveer 60 minuten</p>
                <p><strong>Verleg je grenzen, doe mee!</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='strong-fit-inhoud.jpeg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='strong-fit-waarom.jpeg' }}) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent; border: 2px solid #008278;">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick colored">
                <p>- Voel je snel sterk en fit<br>
                - Train lichaam en geest voor een gezonde balans<br>
                - Bereik een hoger energieniveau<br>
                - Een voldaan en ontspannen gevoel na de training<br>
                - De oefeningen worden aangepast op jouw niveau<br>
                - Plezier en sporten in één<br>
                - Creëer een moment voor jezelf<br>
                - Trainen in een groep werkt motiverend<br>
                <p><strong>Samen sterker, fitter en gezonder!</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper">

            <h4 class="align-center"><strong>Kosten</strong></h4>
            <div class="spacer-medium"></div>

            <div class="column-section bordered-sticky clearfix accent-pricing">
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Gratis proefles</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">GRATIS</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1"
                            class="sr-button button-small button-1 rounded">Aanmelden</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">1x deelname</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€10,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table accent-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">10x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€75,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-2 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">20x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€140,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth last-col pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Onbeperkt abonnement</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€55,- per maand</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/subscription/?tabSelected=2" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <div class="fullwidth-section">
            <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
        class="sr-button button-full button-2">Gratis proefles?<br><strong>Klik hier! <i
                class="ion ion-arrow-right-c"></i></strong></a>

            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->
    </section>
</div>

{{ partial:footer }}