<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-big  parallax-section text-light" data-parallax-image="{{ theme:img src='tarieven.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Tarieven</strong></h1>
        </div> <!-- END #page-title -->

    </section>
    <!-- HERO -->

    <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
        class="sr-button button-full button-2">Gratis proefles?<br><strong>Klik hier! <i
                class="ion ion-arrow-right-c"></i></strong></a>

    <div class="spacer-small"></div>

    <div class="column-section bordered-sticky clearfix accent-pricing">
        <div class="column one-fourth pricing-table accent-table" style="min-height: 350px">
            <div class="pricing-title">
                <h5 class="uppercase">Onbeperkt groepsles abonnement</h5>
            </div>
            <div class="pricing-price">
                <span class="price-unit">€55,-</span>
            </div>
            <div class="pricing-action">
                <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/subscription/?tabSelected=2" class="sr-button button-small button-2 rounded" target="_blank">Kopen</a>
            </div>
        </div>
        <div class="column one-fourth pricing-table accent-table" style="min-height: 350px">
            <div class="pricing-title">
                <h5 class="uppercase">1x deelname<br>groepsles</h5>
            </div>
            <div class="pricing-price">
                <span class="price-unit">€10,-</span>
            </div>
            <div class="pricing-action">
                <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-2 rounded" target="_blank">Kopen</a>
            </div>
        </div>
        <div class="column one-fourth pricing-table accent-table" style="min-height: 350px">
            <div class="pricing-title">
                <h5 class="uppercase">10x deelname<br>groepsles</h5>
            </div>
            <div class="pricing-price">
                <span class="price-unit">€75,-</span>
            </div>
            <div class="pricing-action">
                <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-2 rounded" target="_blank">Kopen</a>
            </div>
        </div>
        <div class="column one-fourth pricing-table accent-table last-col" style="min-height: 350px">
            <div class="pricing-title">
                <h5 class="uppercase">20x deelname<br>groepsles</h5>
            </div>
            <div class="pricing-price">
                <span class="price-unit">€140,-</span>
            </div>
            <div class="pricing-action">
                <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-2 rounded" target="_blank">Kopen</a>
            </div>
        </div>
    </div> <!-- END .column-section -->

    <div class="spacer-small"></div>
</div>

{{ partial:footer }}