<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-big  parallax-section text-light" data-parallax-image="{{ theme:img src='tarieven.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Tarieven</strong></h1>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <a href="https://www.paynplan.nl/free-trial/p/21900" target="_blank"
        class="sr-button button-full button-2">Gratis proefles?<br><strong>Klik hier! <i
                class="ion ion-arrow-right-c"></i></strong></a>

    <div class="spacer-small"></div>
</div>

{{ partial:footer }}