<div id="page-content">
    {{ partial:navigation }}

    

    <div id="page-body">
        <div class="wrapper">
            <div class="column-section bordered-spaced vertical-center clearfix">
            	<div class="column one-third" style="min-height: 400px; background-color: #F5A802;">
                	<h4 class="uppercase" style="color: white"><strong>Groepslessen</strong></h4>
                	<p style="color: white">Wij bieden elke dag verschillende groepslessen aan, benieuwd welke?</p>
                    <p><a href="/groepslessen" class="sr-button button-small button-3" style="color: white">Bekijk onze groepslessen</a></p>
                </div>
            	<div class="column one-third" style="background: url( {{ theme:img src='groepslessen.jpeg' }} ) center center / cover; min-height: 400px;">
                </div>
                <div class="column one-third last-col" style="background: url( {{ theme:img src='groepslessen-2.jpeg' }} ) center center / cover; min-height: 400px;">
                </div>
            </div>
            
            <div class="column-section bordered-spaced vertical-center clearfix">
            	<div class="column two-third" style="background: url( {{ theme:img src='personal-training-4.jpg' }} ) center center / cover; min-height: 400px;">
                </div>
                <div class="column one-third last-col" style="min-height: 400px; background-color: #008278; color: white;">
                	<h4 class="uppercase" style="color:white;"><strong>Personal training / Duo personal training</strong></h4>
                	<p>Wil jij jouw persoonlijke doelen behalen en professionele begeleiding?
                        Ga voor personal training of duo personal training.</p>
                        <p><a href="/personal-training" class="sr-button button-small button-3">Ontdek personal training</a></p>
                </div>
            </div>

            <div class="column-section bordered-spaced vertical-center clearfix">
            	<div class="column one-third" style="min-height: 400px; background-color: #e50378;">
                	<h4 class="uppercase" style="color: white"><strong>Bedrijfsfitness</strong></h4>
                	<p style="color: white">Wil jij minder ziekteverzuim in jouw bedrijf? Houd je werknemers fysiek en mentaal fit. Bekijk de mogelijkheden van bedrijfsfitness</p>
                    <p><a href="/business-bootcamp" class="sr-button button-small button-3">Meer info</a></p>
                </div>
            	<div class="column one-third" style="background: url( {{ theme:img src='slide-3.jpeg' }} ) center center / cover; min-height: 400px;">
                </div>
                <div class="column one-third last-col" style="background: url( {{ theme:img src='business-bootcamp-blok.jpeg' }} ) center center / cover; min-height: 400px;">
                </div>
            </div>
        </div>
    </div>

    

    <div class="spacer-big"></div>
</div>

{{ partial:footer }}