<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
        data-parallax-image="{{ theme:img src='yep-bootcamp-2-blurred.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>YEP Bootcamp</strong></h1>
            <h4 class="subtitle-2">Age doesn’t matter vitality does</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Blijf energiek & vitaal met onze YEP Bootcamp!</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Full body workout in de natuur</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Professionele begeleiding</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Uitdagend en op je eigen niveau</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Elke training is anders</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Goed voor lichaam en geest</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Behoud van je vitaliteit</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Sport in een gezellige groep met leeftijdsgenoten</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Gemakkelijk zelf trainingen inplannen via onze app</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col"
                        style="background:url( {{ theme:img src='yep-bootcamp-1.jpeg' }} ) center 60% no-repeat;background-size: cover;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center has-animation">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>YEP Bootcamp is ontstaan met de achterliggende gedachte dat iedereen op zijn/haar eigen niveau mee kan doen. De
                    oefeningen kunnen aangepast worden op ieder niveau.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Buiten sporten onder professionele begeleiding van een gecertificeerde trainer (fysio io.), met max 14 deelnemers. Op
                    deze manier is er voldoende overzicht en worden kwaliteit en veiligheid gewaarborgd.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Tijdens onze YEP Bootcamps houden wij rekening met jouw huidige fitheid, hierop worden de oefeningen aangepast. Bij ons
                    krijg je de persoonlijke aandacht die jij verdient.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>Er wordt altijd buiten op een veilige locatie getraind: in het park, bos of in de stad. Bij slecht weer in een
                    parkeergarage.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://www.paynplan.nl/free-trial/p/21900" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding"
                style="background:url({{ theme:img src='yep-bootcamp-3.jpeg' }} ) center center no-repeat; background-size: cover;">
            </div>
            <div class="column one-half" style="background:none;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick">
                <p>- Je wilt graag fit blijven en hebt een stok achter de deur nodig<br>
                - Je bent een jaartje ouder en wil graag je conditie en kracht onderhouden<br>
                - Je houdt van lekker in de buitenlucht sporten<br>
                - Je wilt graag blijven sporten, maar wat minder intensief<br>
                - Je wilt graag gezonder, fitter en energieker worden<br>
                - Je hebt een blessure/ziekte waardoor intensief sporten niet meer lukt<br>
                - Je wilt graag sporten in een leuke en gezellige groep<br>
                <p><strong>Ontdek wat YEP Bootcamp met jouw vitaliteit doet!</strong></p>
                </p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Inhoud kids bootcamp</strong></h4>
                <hr class="small thick">
                <p>- Trainen in de buitenlucht<br>
                - Sporten in kleine groepen max. 14 deelnemers<br>
                - Train met je eigen lichaamsgewicht<br>
                - Een combinatie van lenigheid, kracht, balans en uithoudingsvermogen<br>
                - Afwisselende en effectieve training van met name de grote spiergroepen<br>
                - Een uitdagende training op jouw eigen niveau<br>
                - Training met verschillende materialen: Weerstansbanden, gewichten en een TRX<br>
                - Duur van een training: ongeveer 60 minuten</p>
                <p><strong>Ga voor algehele fitheid, doe mee met onze YEP Bootcamp</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='bootcamp-3.jpg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='bootcamp-4.jpg' }}) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick">
                <p>- Bewezen effectieve manier om fit en gezond te blijven<br>
                - Verminderd de kans op ouderdomskwalen zoals, botontkalking, spieratrofie, stijfheid, en balansproblemen<br>
                - Regelmatig sporten zorgt voor een betere weerstand en conditie denk aan hart en longen<br>
                - Plezier en sporten in één, gezelligheid is ook belangrijk<br>
                - Krachttraining is belangrijk, vooral als je een jaartje ouder wordt<br>
                - Je besteedt aandacht aan je algehele fitheid, zowel fysiek als mentaal<br>
                - Voel je snel fitter en energieker<br>
                - Een voldaan en ontspannen gevoel na de training</p>
                <p><strong>Kom in beweging met onze YEP Bootcamp!</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper">

            <h4 class="align-center"><strong>Kosten</strong></h4>
            <div class="spacer-medium"></div>

            <div class="column-section bordered-sticky clearfix accent-pricing">
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Gratis proefles</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">GRATIS</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/free-trial/p/21900"
                            class="sr-button button-small button-1 rounded">Aanmelden</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">1x deelname bootcamp</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€10,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/22011" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table accent-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">10x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€67,50</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/21895" class="sr-button button-small button-2 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fourth last-col pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">20x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€130,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/22008" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->
    </section>
</div>

{{ partial:footer }}