<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
        data-parallax-image="{{ theme:img src='yin-yoga-1.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Yoga Hardenberg</strong></h1>
            <h4 class="subtitle-2">Fall in love with taking care of yourself</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Verbeter de balans tussen je lichaam en geest!</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Een moment voor jezelf</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Spanningen in je lichaam leren loslaten</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Word fysiek, mentaal en emotioneel sterker</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Slaap dieper en word uitgerust wakker</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Maak contact met jezelf</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Leer voelen wat jouw lichaam nodig heeft</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Stimuleer de balans tussen lichaam en geest</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Professionele begeleiding door een yogadocent</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Gemakkelijk zelf een les inplannen via onze app</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col"
                        style="background:url( {{ theme:img src='yin-yoga-5.jpg' }} ) center 60% no-repeat;background-size: cover;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center has-animation">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Yin yoga is een meditatieve vorm van yoga, het accent ligt op diepe ontspanning, overgave en loslaten van spanningen. De lessen bestaan voornamelijk uit zittende en liggende houdingen, deze worden 3 tot 5 minuten aangehouden. Yin yoga kan door iedereen beoefend worden.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Onze yogalessen worden gegeven door geregistreerd yoga alliance yoga docenten. Wij hanteren een maximum van 12 personen per les. Op deze manier heeft iedereen voldoende ruimte en houden we de kwaliteit van onze yogalessen hoog.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Wij vinden het belangrijk dat jij op je eigen niveau mee kunt doen. Heb jij een blessure of ben je zwanger? Geen probleem, we passen de houdingen zo aan dat het voor jou haalbaar is om mee te doen. Bij ons krijg je de persoonlijke aandacht die jij verdient.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>De yogalessen worden bij koud en nat weer binnen naast de Haarmolen gegeven (Polenweg 2). Bij mooi en warm weer worden de lessen buiten gegeven in het Vechtpark.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding"
                style="background:url({{ theme:img src='yin-yoga-3.jpg' }} ) center 30% no-repeat; background-size: cover;">
            </div>
            <div class="column one-half" style="background:none; border: 2px solid #e50378;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick colored">
                <p>- Je leidt een druk en actief leven en hebt weinig tijd voor jezelf<br>
                - Je hebt moeite met ontspannen en wilt hier aan werken<br>
                - Je wilt vaker keuzes maken die dicht bij jezelf liggen<br>
                - Je hebt een stressvolle baan en wilt even tot jezelf komen<br>
                - Je wilt de balans tussen je lichaam en geest stimuleren<br>
                - Je bent zwanger en wilt graag soepel en ontspannen blijven<br>
                - Je hebt een burn-out (gehad) en wilt graag spanningen loslaten</p>
                <p><strong>Ontdek wat yin yoga met jouw lichaam doet!</strong></p>
                </p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent; border: 2px solid #7fdbca;">
                <h4 class="uppercase"><strong>Inhoud Yin Yoga</strong></h4>
                <hr class="small thick colored">
                <p>- Focussen op jezelf en je adem<br>
                - Loslaten van fysieke en mentale spanningen<br>
                - Bewustwording, acceptatie, overgave en loslaten<br>
                - Fysieke en mentale grenzen leren kennen<br>
                - Ontspannen tijdens houdingen<br>
                - Ademhalingsoefeningen, houdingen en meditatie<br>
                - Ervaren van rek en discomfort<br>
                - Zittende en liggende houdingen<br>
                - Duur van een yogales: ongeveer 45 minuten</p>
                <p><strong>Leer voelen wat jouw lichaam nodig heeft!</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='yin-yoga-wie.jpg' }}) center bottom;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='yin-yoga-waarom.jpg' }}) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent; border: 2px solid #008278;">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick colored">
                <p>- Verminder stress en spierspanning in je lichaam<br>
                - Verminder fysieke klachten zoals rug, nek en schouderklachten<br>
                - Word leniger, soepeler en bewegelijker<br>
                - Slaap dieper en wordt uitgerust wakker<br>
                - Bevorder het zelf herstellend vermogen van je lichaam<br>
                - Word bewust van gedachten, gevoelens en sensaties<br>
                - Creëer een moment voor jezelf<br>
                - Even uit je hoofd met de focus op je lijf</p>
                <p><strong>Gebruik de houding om in je lichaam te komen</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper">

            <h4 class="align-center"><strong>Kosten</strong></h4>
            <div class="spacer-medium"></div>

            <div class="column-section bordered-sticky clearfix accent-pricing">
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Gratis proefles</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">GRATIS</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1"
                            class="sr-button button-small button-1 rounded">Aanmelden</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">1x deelname</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€10,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table accent-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">10x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€75,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-2 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">20x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€140,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?tabSelected=1&hidePaymentCombo=true&paymentPackCategories=3478,3479&privatePassCategories=" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fifth last-col pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Onbeperkt abonnement</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€55,- per maand</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/subscription/?tabSelected=2" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://backoffice.bsport.io/m/Active%20&%20Fit/1164/pass/?paymentPackCategories=3612&privatePassCategories=&hidePaymentCombo=true&tabSelected=1" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->
    </section>
</div>

{{ partial:footer }}