<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
    data-parallax-image="{{ theme:img src='zwanger-fit-hero.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>{{ title }}</strong></h1>
            <h4 class="subtitle-2">Voel je fit tijdens je zwangerschap</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Verantwoord sporten tijdens je zwangerschap, blijf energiek en
                    actief!</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Voel je fysiek en mentaal fit</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Geschikt voor iedereen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Sporten is belangrijk ook tijdens de zwangerschap</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Sneller herstel na bevalling</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Plezier tijdens het sporten</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Professionele begeleiding door Zwanger & Fit trainer/fysiotherapeut</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Informatie en advies op maat</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Kleine groepen (max 12 dames)</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Gemakkelijk zelf trainingen inplannen via onze app</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col" center 60% no-repeat;background-size: cover;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center has-animation">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>De Zwanger & Fit lessen zijn speciaal voor dames die op hun eigen tempo willen sporten/bewegen tijdens de zwangerschap. Getraind of ongetraind iedereen kan meedoen. Blijf actief, voel je Zwanger & Fit.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Kwaliteit staat op ons op één, daarom train je bij ons onder professionele begeleiding van een gecertificeerde Zwanger & Fit trainer, personal trainer en fysiotherapeut.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Tijdens elke training wordt er rekening gehouden met jouw fitheid op dat moment, hierop worden de oefeningen aangepast. We sporten in kleine groepen van max 12 deelnemers, op deze manier krijgt elke deelnemer de persoonlijke aandacht die zij verdient</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>Er wordt altijd op een prettige buiten locatie getraind, in het park, of op een grasveld en overdekt als het slecht weer is.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://www.paynplan.nl/free-trial/p/21900" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden voor zwanger &amp; fit! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding" style="background:url({{ theme:img src='zwanger-fit-1.jpg' }}) center center;background-size:cover;">
            </div>
            <div class="column one-half" style="background:none; border: 2px solid #c8c8c8;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick">
                <p>- Je wilt graag verantwoord sporten onder professionele begeleiding<br>
                    - Je wilt blijven sporten, maar weet niet goed wat je wel en niet mag doen<br>
                    - Je wilt graag tips en beweging op maat<br>
                    - Je wilt graag fit blijven tijdens je zwangerschap<br>
                    - Je bent opzoek naar een stok achter de deur om in beweging te blijven<br>
                    - Je bent door je zwangerschap gestopt met sporten, maar wil wel blijven bewegen</p>
                <p><strong>Haal het beste uit jezelf tijdens je zwangerschap!</strong></p>
                </p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent; border: 2px solid #7fdbca;">
                <h4 class="uppercase"><strong>Inhoud Zwanger &amp; Fit</strong></h4>
                <hr class="small thick">
                <p>- Een positieve en actieve benadering van je zwangerschap<br>
                    - Energieke training, speciaal voor zwangere vrouwen<br>
                    - Een combinatie van spierversterkende oefeningen, cardio en ontspanning<br>
                    - Een prettige training in de natuur, die je meer energie geeft<br>
                    - Sporten/bewegen op je eigen tempo<br>
                    - Informatie over de zwangerschap/bevalling</p>
                <p><strong>Voorkom vermoeidheid, blijf in beweging!</strong></p>
            </div>
            <div class="column one-half last-col" style="background:url({{ theme:img src='zwanger-fit-2.jpg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half" style="background:url({{ theme:img src='zwanger-fit-3.jpg' }}) center 10%;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent; border: 2px solid #f5a802;">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick">
                <p>- Sporten is goed voor lichaam en geest<br>
                    - Met een sterk lichaam voorkom je fysieke klachten tijdens de zwangerschap<br>
                    - Een getraind lichaam helpt je bij de bevalling en herstelt sneller<br>
                    - Sporten met andere zwangere vrouwen<br>
                    - Professionele begeleiding en persoonlijke aandacht<br>
                    - Verminderde kans op zwangerschapsdiabetes</p>
                <p><strong>Word mentaal sterker en geef je zelfvertrouwen een boost!</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper">

            <h3 class="align-center"><strong>Kosten</strong></h3>
            <div class="spacer-medium"></div>

            <div class="column-section bordered-sticky clearfix accent-pricing">
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Gratis proefles</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">GRATIS</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/free-trial/p/21900"
                            class="sr-button button-small button-1 rounded">Aanmelden</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">1x deelname</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€10,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/22011" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table accent-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">10x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€75,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/21895" class="sr-button button-small button-2 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">20x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€140,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/22008" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
            </div> <!-- END .column-section -->

            <div class="spacer-big"></div>

            <h4><strong>Na de bevalling helpen we je graag om weer Back
                in Shape te komen op een verantwoorde manier!</strong></h4>

            <p><a href="/bootcamp-light" class="sr-button button-2 button-small">Ga naar Bootcamp Light</a></p>

        <div class="spacer-big"></div>

        </div>

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a><br>
            </div>
        </div> <!-- END .fullwidth-section -->

    </section>
</div>

{{ partial:footer }}