<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Zwanger &amp; Fit</strong></h1>
            <h4 class="subtitle-2">Voel je fit tijdens je zwangerschap</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Verantwoord sporten tijdens je zwangerschap, blijf energiek en
                    actief!</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Voel je fysiek en mentaal fit</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Geschikt voor iedereen</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Sporten is belangrijk ook tijdens de zwangerschap</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Sneller herstel na bevalling</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Plezier tijdens het sporten</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Professionele begeleiding door Zwanger & Fit trainer/fysiotherapeut</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Informatie en advies op maat door bekkenfysiotherapeut en
                                    kinderfysiotherapeut</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Kleine groepen (max 8 dames)</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col" center 60% no-repeat;background-size: cover;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center has-animation">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Je wilt sporten, ook tijdens je zwangerschap. Wij bieden trainingen aan voor iedereen, getraind
                        of ongetraind. Blijf
                        actief en voel je fit tijdens je zwangerschap.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Sporten tijdens je zwangerschap in een kleine groep max 8 deelnemers. Onder professionele
                        begeleiding van een
                        bekkenfysiotherapeut, een kinderfysiotherapeut en een gecertificeerde Zwanger & Fit trainer/
                        fysio i.o. Alle informatie
                        en kennis onder 1 dak.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Tijdens elke training wordt er rekening gehouden met jouw fitheid op dat moment, hierop worden de
                        oefeningen aangepast.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>Fysiopraktijk Mijn Fysio in Baalder<br>Doctor Albert Schweitzerplein 5</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://www.mijnfysio.nu/zwanger-en-fit/" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden voor zwanger &amp; fit! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding" center center no-repeat; background-size: cover;">
            </div>
            <div class="column one-half" style="background:none;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick">
                <p>- Je wilt graag verantwoord sporten onder professionele begeleiding<br>
                    - Je wilt graag tips en beweging op maat<br>
                    - Je wilt graag fit blijven tijdens je zwangerschap<br>
                    - Je bent opzoek naar een stok achter de deur om in beweging te blijven<br>
                    - Je bent door je zwangerschap gestopt met sporten, maar wil wel blijven bewegen<br>
                    - Je wilt blijven sporten, maar weet niet goed wat je wel en niet mag doen</p>
                <p><strong>Haal het beste uit jezelf tijdens je zwangerschap!</strong></p>
                </p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Inhoud Zwanger &amp; Fit</strong></h4>
                <hr class="small thick">
                <p>- 1x per week groepstraining, max 8 deelnemers per groep<br>
                    - Energieke training, speciaal voor zwangere vrouwen<br>
                    - Een combinatie van spierversterkende oefeningen, cardio en ontspanning<br>
                    - Een positieve en actieve benadering van je zwangerschap<br>
                    - Informatie over zwangerschap/bevalling en evt bijwerkingen/ongemakken<br>
                    - In totaal 10 trainingen en 1 theoriemoment.</p>
                <p><strong>Voorkom vermoeidheid, blijf in beweging!</strong></p>
            </div>
            <div class="column one-half last-col" center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half" center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick">
                <p>- Sporten is goed voor lichaam en geest<br>
                    - Met een sterk lichaam voorkom je fysieke klachten tijdens de zwangerschap<br>
                    - Een getraind lichaam helpt je bij de bevalling en herstelt sneller<br>
                    - Sporten met andere zwangere vrouwen<br>
                    - Professionele begeleiding en persoonlijke aandacht<br>
                    - Verminderde kans op zwangerschapsdiabetes</p>
                <p><strong>Word mentaal sterker en geef je zelfvertrouwen een boost!</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper align-center">

            <h2><strong>Kosten</strong></h2>
            <h5 class="subtitle-1">- 10x strippenkaart €120,- (inc 1 theorieles)<br>
                - Verlengen na 10 strippen is mogelijk</h5>

        </div> <!-- END .wrapper -->

        <div class="spacer-medium"></div>

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a><br>
                <h5>Bel Mijn Fysio (ma-vr 8:30-12:30) op: 0523-261840 of ga naar <a href="https://www.mijnfysio.nu"
                        target="_blank">www.mijnfysio.nu</a> en klik op aanmelden</h5>
            </div>
        </div> <!-- END .fullwidth-section -->

        <a href="/back-in-shape" class="sr-button button-full button-2">Na de bevalling helpen we je graag om weer Back
            in Shape te komen op een verantwoorde manier!<br><strong>Ga naar back in shape &rarr;</strong></a>
    </section>
</div>

{{ partial:footer }}