<!-- FOOTER -->
<footer id="footer" class="footer-dark text-light">
    <div class="footer-inner wrapper">

        <div class="column-section clearfix">
            <div class="column one-fourth">
                <div class="widget">
                    <img src="{{ theme:img src='footer-logo.png' }}"
                        srcset="{{ theme:img src='footer-logo.png' }} 1x, {{ theme:img src='footer-logo@2x.png' }} 2x"
                        alt="Footer logo">
                    <div class="spacer-mini"></div>
                    <h5>Active &amp; Fit</h5>
                    <p><a href="mailto:info@active-fit.nu">info@active-fit.nu</a><br>KvK: 71360565<br>BTW ID:
                        NL002314555B22</p>
                </div>

                <div class="widget">
                    <ul class="socialmedia-widget hover-fade-1">
                        <li class="facebook"><a href="https://www.facebook.com/ActiveFitNL/" target="_blank"></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/activefitnl/" target="_blank"></a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/company/activefitnl/"
                                target="_blank"></a></li>
                    </ul>
                </div>

            </div>

            <div class="column one-fourth">
                <div class="widget">
                    <h6 class="widget-title uppercase">Personal training</h6>
                    <ul class="menu">
                        <li><a href="/personal-training-hardenberg">Personal training Hardenberg</a></li>
                        <li><a href="/personal-training-ommen">Personal training Ommen</a></li>
                        <li><a href="/personal-training-dedemsvaart">Personal training Dedemsvaart</a></li>
                        <li><a href="/personal-training-gramsbergen">Personal training Gramsbergen</a></li>
                        <li><a href="/personal-training-coevorden">Personal training Coevorden</a></li>
                        <li><a href="/personal-training-dalen">Personal training Dalen</a></li>
                    </ul>
                </div>
            </div>
            <div class="column one-fourth">
                <div class="widget">
                    <h6 class="widget-title uppercase">Bootcamp</h6>
                    <ul class="menu">
                        <li><a href="/bootcamp-hardenberg">Bootcamp Hardenberg</a></li>
                        <li><a href="/bootcamp-ommen">Bootcamp Ommen</a></li>
                        <li><a href="/bootcamp-marienberg">Bootcamp Mariënberg</a></li>
                        <li><a href="/bootcamp-bergentheim">Bootcamp Bergentheim</a></li>
                        <li><a href="/bootcamp-kloosterhaar">Bootcamp Kloosterhaar</a></li>
                        <li><a href="/bootcamp-sibculo">Bootcamp Sibculo</a></li>
                        <li><a href="/bootcamp-coevorden">Bootcamp Coevorden</a></li>
                        <li><a href="/bootcamp-den-ham">Bootcamp Den Ham</a></li>
                        <li><a href="/bootcamp-gramsbergen">Bootcamp Gramsbergen</a></li>
                    </ul>

                </div>
            </div>
            <div class="column one-fourth last-col">
                <div class="widget">
                    <h6 class="widget-title uppercase">Bedrijfsbootcamp / bedrijfsfitness</h6>
                    <ul class="menu">
                        <li><a href="/bedrijfsbootcamp-hardenberg">Bedrijfsbootcamp Hardenberg</a></li>
                        <li><a href="/bedrijfsfitness-hardenberg">Bedrijfsfitness Hardenberg</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <a id="backtotop" href="#">Terug naar boven</a>
    </div>

    <div class="copyright"><small>Copyright &copy; {{ now format="Y" }} Active &amp; Fit</small></div>
</footer>
<!-- FOOTER -->