<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131660818-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-131660818-1');
</script>



<!-- DEFAULT META TAGS -->
<title>{{ seo_titel }} | Active &amp; Fit</title>
<meta name="description" content="{{ seo_beschrijving }}" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />

<!-- CSS -->
{{ theme:css src="style.min" tag="true" }}
{{ theme:css src="font-awesome.min" tag="true" }}
{{ theme:css src="revolution/css/settings" tag="true" }}
{{ theme:css src="revolution/css/layers" tag="true" }}
{{ theme:css src="revolution/css/layers" tag="true" }}
{{ theme:css src="revolution/css/navigation" tag="true" }}
{{ theme:css src="isotope" tag="true" }}
{{ theme:css src="mqueries" tag="true" }}
{{ theme:css src="ouibounce.min" tag="true" }}
{{ theme:css src="slick/slick" tag="true" }}
{{ theme:css src="slick/slick-theme" tag="true" }}
{{ theme:css src="owl.carousel" tag="true" }}
{{ theme:css src="ionicons" tag="true" }}
{{ theme:css src="activefit" tag="true" }}

<!-- FAVICON -->
<link rel="shortcut icon" href="{{ theme:img src='favicon.png' }}" />