<div id="page-content">
    {{ partial:navigation }}

    <!-- HERO  -->
    <section id="hero" class="hero-full parallax-section text-light"
        data-parallax-image="{{ theme:img src='bootcamp-hero.jpg' }}">

        <div id="page-title" class="wrapper align-center">
            <h1 class="uppercase"><strong>Bootcamp in Sibculo</strong></h1>
            <h4 class="subtitle-2">Challenge your body & mind</h4>
        </div> <!-- END #page-title -->
        <a href="#" id="scroll-down"></a>

    </section>
    <!-- HERO -->

    <section id="page-body" class="notoppadding">
        <div class="fullwidth-section" style="background:#f5f6f7;">
            <div class="fullwidth-content wrapper">
                <h2 class="subtitle-2 align-center">Tegenwoordig is bootcamp een echte hype. Uitdagende trainingen,
                    toegankelijk voor iedereen.</h2>
                <div class="spacer-big"></div>

                <div class="column-section adapt-height clearfix">
                    <div class="column one-half">
                        <ul class="no-list-style">
                            <li>
                                <h5>&#x2713; Full body workout in de natuur</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Professionele begeleiding</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Uitdagende locaties</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Elke training is anders</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Snel trainingsresultaat</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Goed voor lichaam en geest</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Strakker, slanker, sterker en soepeler</h5>
                            </li>
                            <li>
                                <h5>&#x2713; Hoge calorieverbranding tot 1000 kcal per training</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="column one-half last-col"
                        style="background:url( {{ theme:img src='bootcamp-2.jpg' }} ) center 60% no-repeat;background-size: cover;">
                    </div>
                </div> <!-- END .column-section -->

            </div>
        </div> <!-- END .fullwidth-section -->

        <div class="spacer-big"></div>

        <div class="wrapper align-center has-animation">

            <div class="column-section clearfix">
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                    <h5 class="uppercase">Intensiteit</h5>
                    <p>Bootcamp is een uitdaging voor iedereen. De taak van de trainer is om de oefeningen zo aan te
                        passen, dat jij mee kan
                        doen op jouw niveau. Je kunt bij ons ook kiezen voor boxing bootcamp.</p><br><a
                        href="/boxing-bootcamp" class="sr-button button-small button-4">Naar boxing bootcamp</a>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-checkmark-circled"></i>
                    <h5 class="uppercase">Verantwoord</h5>
                    <p>Buiten sporten onder professionele begeleiding van een gecertificeerde trainer, met max 14
                        deelnemers. Op deze manier is
                        er voldoende overzicht om de kwaliteit van de training hoog te houden en wordt de veiligheid
                        gewaarborgd.</p>
                </div>
                <div class="column one-fourth">
                    <i class="ion ion-4x ion-android-contacts"></i>
                    <h5 class="uppercase">Persoonlijk</h5>
                    <p>Tijdens elke bootcamp houden wij rekening met jouw fitheid en doelen, hierop worden de
                        oefeningen aangepast.
                        Jij krijgt bij ons de persoonlijke aandacht die je verdient.</p>
                </div>
                <div class="column one-fourth last-col">
                    <i class="ion ion-4x ion-android-pin"></i>
                    <h5 class="uppercase">Locatie</h5>
                    <p>Er wordt altijd buiten op een uitdagende locatie getraind: in het zand, het park, de stad of in
                        het bos.</p>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <a href="https://www.paynplan.nl/free-trial/p/21900" target="_blank"
            class="sr-button button-full button-2"><strong>Aanmelden gratis proefles! <i
                    class="ion ion-arrow-right-c"></i></strong></a>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half last-col nopadding"
                style="background:url({{ theme:img src='bootcamp-1.jpg' }} ) center center no-repeat; background-size: cover;">
            </div>
            <div class="column one-half" style="background:none;">
                <div class="spacer-medium"></div>
                <h4 class="uppercase"><strong>Voor wie</strong></h4>
                <hr class="small thick">
                <p>- Je wilt weer beginnen met sporten en hebt een stok achter de deur nodig<br>
                    - Je hebt nog nooit gesport, maar wilt wel graag beginnen (start met low intensity)<br>
                    - Je wilt je grenzen verleggen en hebt iemand nodig die je uitdaagt om net dat stapje extra te
                    doen<br>
                    - Je loopt hard en je wilt daarnaast krachttraining gaan doen<br>
                    - Je wilt graag wat nieuws proberen op gebied van sport<br>
                    - Je wilt graag sporten in een leuke en gezellige groep<br>
                    <p><strong>Ontdek wat bootcamp met jouw lichaam doet!</strong></p>
                </p>
                <div class="spacer-medium"></div>
            </div>
        </div> <!-- END .column-section -->

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Inhoud bootcamp</strong></h4>
                <hr class="small thick">
                <p>- Trainen in de buitenlucht<br>
                    - Sporten in kleine groepen van max 12 deelnemers<br>
                    - Train met je eigen lichaamsgewicht<br>
                    - Workouts met verschillende materialen: kettlebells, resistance bands, powerbags, een TRX enz..<br>
                    - Hardlopen, intervaltraining, circuittraining en fitnessoefeningen<br>
                    - Afwisselende en effectieve training van met name de grote spiergroepen<br>
                    - Uitdagende, grensverleggende workout op jouw niveau<br>
                    - Een trainer die je motiveert om net dat stapje extra te doen<br>
                    - Duur van een training: ongeveer 60 minuten</p>
                <p><strong>Haal het beste uit jezelf, doe mee met onze bootcamp!</strong></p>
            </div>
            <div class="column one-half last-col"
                style="background:url({{ theme:img src='bootcamp-3.jpg' }}) center center;background-size:cover;">

            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="column-section boxed-sticky adapt-height clearfix">
            <div class="column one-half"
                style="background:url({{ theme:img src='bootcamp-4.jpg' }}) center center;background-size:cover;"></div>
            <div class="column one-half last-col bigpadding" style="background: transparent">
                <h4 class="uppercase"><strong>Waarom?</strong></h4>
                <hr class="small thick">
                <p>- Functioneel trainen met je eigen lichaamsgewicht<br>
                    - De training gaat altijd door weer of geen weer<br>
                    - Plezier tijdens het trainen<br>
                    - Je besteedt aandacht aan je conditie, kracht, houding en fitheid<br>
                    - Creëer een moment voor jezelf<br>
                    - Voel je snel fitter en energieker<br>
                    - Een voldaan en ontspannen gevoel na de training</p>
                <p><strong>Bootcamp werkt goed tegen stress en sombere gevoelens</strong></p>
            </div>
        </div>

        <div class="spacer-big"></div>

        <div class="wrapper">

            <h4 class="align-center"><strong>Kosten</strong></h4>
            <div class="spacer-medium"></div>

            <div class="column-section bordered-sticky clearfix accent-pricing">
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">Gratis proefles</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">GRATIS</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/free-trial/p/21900"
                            class="sr-button button-small button-1 rounded">Aanmelden</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">1x deelname bootcamp</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€10,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/22011" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fourth pricing-table accent-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">10x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€67,50</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/21895" class="sr-button button-small button-2 rounded">Kopen</a>
                    </div>
                </div>
                <div class="column one-fourth last-col pricing-table">
                    <div class="pricing-title">
                        <h5 class="uppercase">20x strippenkaart</h5>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">€130,-</span>
                    </div>
                    <div class="pricing-action">
                        <a href="https://www.paynplan.nl/p/22008" class="sr-button button-small button-1 rounded">Kopen</a>
                    </div>
                </div>
            </div> <!-- END .column-section -->

        </div>

        <div class="spacer-big"></div>

        <div class="fullwidth-section">
            <div class="fullwidth-content wrapper">
                <h3><strong>Meer info of vragen?</strong></h3>
                <h4 class="subtitle-2">Mail of bel gerust!</h4>
                <div class="spacer-big"></div>

                <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
            </div>
        </div> <!-- END .fullwidth-section -->

        <a href="/business-bootcamp" class="sr-button button-full button-2">Wij bieden ook bootcamps voor bedrijven
            aan!<br><strong>Ga naar bootcamp voor bedrijven &rarr;</strong></a>
    </section>
</div>

{{ partial:footer }}