<div id="page-content">
    <div id="page-content">
        {{ partial:navigation }}

        <!-- HERO  -->
        <section id="hero" class="hero-full parallax-section text-light"
            data-parallax-image="{{ theme:img src='personal-training-1.jpg' }}">

            <div id="page-title" class="wrapper align-center">
                <h1 class="uppercase"><strong>Personal training in Gramsbergen</strong></h1>
                <h4 class="subtitle-2">No quick fix</h4>
            </div> <!-- END #page-title -->
            <a href="#" id="scroll-down"></a>

        </section>
        <!-- HERO -->

        <section id="page-body" class="notoppadding">
            <div class="fullwidth-section" style="background:#f5f6f7;">
                <div class="fullwidth-content wrapper">
                    <h2 class="subtitle-2 align-center">Ga de uitdaging met jezelf aan, haal alles eruit wat erin zit!
                    </h2>
                    <div class="spacer-big"></div>

                    <div class="column-section adapt-height clearfix">
                        <div class="column one-half">
                            <ul class="no-list-style">
                                <li>
                                    <h5>&#x2713; Professionele begeleiding</h5>
                                </li>
                                <li>
                                    <h5>&#x2713; Persoonlijke doelen behalen</h5>
                                </li>
                                <li>
                                    <h5>&#x2713; Leefstijladvies op maat</h5>
                                </li>
                                <li>
                                    <h5>&#x2713; Snel resultaat, voel je fitter</h5>
                                </li>
                                <li>
                                    <h5>&#x2713; Hulp bij een gezonder eetpatroon</h5>
                                </li>
                                <li>
                                    <h5>&#x2713; Afwisselend trainingsschema</h5>
                                </li>
                                <li>
                                    <h5>&#x2713; Een stok achter de deur</h5>
                                </li>
                            </ul>
                        </div>

                        <div class="column one-half last-col nopadding"
                            style="background:url({{ theme:img src='personal-training-4.jpg' }}) bottom right no-repeat;background-size: contain;">
                        </div>
                    </div> <!-- END .column-section -->

                </div>
            </div> <!-- END .fullwidth-section -->

            <div class="spacer-big"></div>

            <div class="wrapper align-center has-animation">

                <div class="column-section clearfix">
                    <div class="column one-fourth">
                        <i class="ion ion-4x ion-arrow-graph-up-right"></i>
                        <h5 class="uppercase">Intensiteit</h5>
                        <p>De intensiteit bij personal training verschilt heel erg per persoon. Er wordt gekeken naar de
                            belastbaarheid en het
                            trainingsniveau van de klant. Aan de hand daarvan wordt een persoonlijk stappenplan
                            opgesteld.</p>
                    </div>
                    <div class="column one-fourth">
                        <i class="ion ion-4x ion-checkmark-circled"></i>
                        <h5 class="uppercase">Verantwoord</h5>
                        <p>Je wilt een doel bereiken. Om dit doel op een verantwoorde en veilige manier te halen, heb je
                            hulp nodig van een
                            professional. Bij Active & Fit staan we voor kwaliteit. Bij ons sport je onder begeleiding
                            van een gediplomeerde
                            personal trainer.</p>
                    </div>
                    <div class="column one-fourth">
                        <i class="ion ion-4x ion-android-contacts"></i>
                        <h5 class="uppercase">Persoonlijk</h5>
                        <p>Bij personal training staat jouw doel centraal. We stellen samen met jou een persoonlijk
                            stappenplan op. Vanuit daar
                            werken we naar een realistisch einddoel toe.</p>
                    </div>
                    <div class="column one-fourth last-col">
                        <i class="ion ion-4x ion-android-pin"></i>
                        <h5 class="uppercase">Locatie</h5>
                        <p>Buiten, op locatie of in de sportschool. De keus is aan jou!</p>
                    </div>
                </div> <!-- END .column-section -->

            </div>

            <div class="spacer-big"></div>

            <a href="/contact" class="sr-button button-full button-2"><strong>Aanmelden gratis intake! <i
                        class="ion ion-arrow-right-c"></i></strong></a>

            <div class="spacer-big"></div>

            <div class="column-section boxed-sticky adapt-height clearfix">
                <div class="column one-half last-col nopadding"
                    style="background:url({{ theme:img src='personal-training-3.jpg' }}) center center no-repeat; background-size: cover;">
                </div>
                <div class="column one-half" style="background:none;">
                    <div class="spacer-medium"></div>
                    <h4 class="uppercase"><strong>Voor wie</strong></h4>
                    <hr class="small thick">
                    <p>- Je doel is afvallen, maar tot nu toe is dit nog niet goed genoeg gelukt<br>
                        - Je wilt beginnen met sporten, maar weet niet hoe<br>
                        - Je wilt wel sporten, maar hebt een stok achter de deur nodig<br>
                        - Je wilt graag sporten, maar door een blessure/beperking weet je niet hoe<br>
                        - Je wilt graag sporten onder begeleiding voor of na je werk<br>
                        - Je traint al een tijdje, maar raakt je motivatie om te gaan kwijt<br>
                        - Je droomt van een strakker lichaam, maar je eigen methode werkt niet<br>
                        - Je traint voor een wedstrijd en wilt graag hulp om een zo optimaal mogelijk resultaat te
                        boeken
                    </p>
                    <p><strong>Iedereen kan zijn doel bereiken, geen woorden maar daden.</strong></p>
                    <div class="spacer-medium"></div>
                </div>
            </div> <!-- END .column-section -->

            <div class="spacer-big"></div>

            <div class="column-section boxed-sticky adapt-height clearfix">
                <div class="column one-half bigpadding" style="background: transparent">
                    <h4 class="uppercase"><strong>Inhoud personal training</strong></h4>
                    <hr class="small thick">
                    <p>- Persoonlijk stappenplan om te kijken waar winst behaald kan worden m.b.t. je gezondheid<br>
                        - Realistische doelen opstellen die haalbaar zijn<br>
                        - Testen en meten van de voortgang<br>
                        - We stimuleren je om stap voor stap je leefstijl te veranderen<br>
                        - Behalen van je doel op je eigen tempo<br>
                        - Hulp met voeding en het maken van betere voedingskeuzes</p>
                    <p><strong>Ga met ons voor resultaat op lange termijn.</strong></p>
                </div>
                <div class="column one-half last-col"
                    style="background:url({{ theme:img src='personal-training-2.jpg' }}) center center;background-size:cover;">

                </div>
            </div>

            <div class="spacer-big"></div>

            <div class="column-section boxed-sticky adapt-height clearfix">
                <div class="column one-half"
                    style="background:url({{ theme:img src='personal-training-5.jpg' }}) center center;background-size:cover;">
                </div>
                <div class="column one-half last-col bigpadding" style="background: transparent">
                    <h4 class="uppercase"><strong>Waarom?</strong></h4>
                    <hr class="small thick">
                    <p>- Word fysiek en mentaal fit<br>
                        - Persoonlijke begeleiding<br>
                        - Stappenplan gericht op het behalen van jouw doelen<br>
                        - Behaal je streefgewicht<br>
                        - Voel je energiek en fit<br>
                        - Verbeter je leefstijl<br>
                        - Krijg het lichaam wat je altijd al wilt<br>
                        - Haal alles eruit wat erin zit<br>
                        - Train wanneer jij tijd hebt</p>
                    <p><strong>Wij begeleiden je van A tot Z naar een actieve en gezonde leefstijl!</strong></p>
                </div>
            </div>

            <div class="spacer-big"></div>

            <div class="wrapper align-center">

                <h2><strong>Kosten</strong></h2>
                <h5 class="subtitle-1">- Gratis intakegesprek<br>
                    - Wij bieden diverse strippenkaarten aan voor personal training<br>
                    - Liever samen trainen? Wij bieden ook 1 op 2 trainingen. Stuur ons een mailtje voor meer info!<br>
                    </h5>

                <!-- <p><a href="/small-group" class="sr-button button-2 button-small">Naar small group</a></p> -->

                <div class="spacer-medium"></div>

                <h3><strong>Welk doel wil jij bereiken?</strong></h3>
                <h5 class="subtitle-1">Maak snel een afspraak om te kijken wat we voor elkaar kunnen betekenen.</h5>

                <p><a href="/contact" class="sr-button button-2 button-small">Aanmelden gratis intakegesprek</a></p>

            </div> <!-- END .wrapper -->

            <div class="spacer-big"></div>

            <div class="fullwidth-section">
                <div class="fullwidth-content wrapper">
                    <h3><strong>Meer info of vragen?</strong></h3>
                    <h4 class="subtitle-2">Mail of bel gerust!</h4>
                    <div class="spacer-big"></div>

                    <a href="mailto:info@active-fit.nu" class="sr-button button-1 button-big">info@active-fit.nu</a>
                    <a href="tel:+31611415741" class="sr-button button-2 button-big">0611415741</a>
                </div>
            </div> <!-- END .fullwidth-section -->

            <a href="/p-bootcamp" class="sr-button button-full button-2">Liever wat meer uitdaging?<br><strong>Dan is
                    PERSONAL BOXING meer jouw ding! &rarr;</strong></a>
        </section>
    </div>

    {{ partial:footer }}